argparse==1.4.0
coverage==4.3.3
django-auth-ldap==1.2.8
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-guardian==1.4.6
django-ical==1.4
django-rest-swagger==2.1.1
django-suit==0.2.23
django>=1.8,<1.9  # rq.filter: >=1.8,<1.9
djangorestframework==3.5.3
https://bitbucket.org/whitie/python-barcode/get/6c22b96a2ca2eef95d53b644242247f0c04e2d32.zip
icalendar==3.11.2
opbeat==3.5.2
passlib==1.7.0
pillow==4.0.0
psycopg2==2.6.2
python-ldap==2.4.28
pytz==2016.10
reportlab==3.3.0
six==1.10.0
sqlparse==0.2.2
svglib==0.6.3
uwsgi==2.0.14
wsgiref==0.1.2
