django>=1.10<1.11
django-crispy-forms
django-debug-toolbar
django-environ
django-guardian
django-ical
django-rest-swagger
django-suit
djangorestframework
future
gunicorn
icalendar
opbeat
passlib
pillow
pip-tools
psycopg2
pytz
