argparse==1.2.1
Django==1.7
django-debug-toolbar==1.2.1
django-guardian==1.2.4
djangorestframework==2.4.1
django-rest-swagger==0.1.14
Pillow==2.5.3
pytz==2014.7
six==1.7.3
South==1.0
sqlparse==0.1.11
wsgiref==0.1.2
django-auth-ldap==1.2.1
python-ldap==2.4.15
django-crispy-forms==1.4.0
reportlab==3.1.8
svglib==0.6.3
https://bitbucket.org/whitie/python-barcode/get/dd1a7c7ddf05.zip
