black
coverage
django>=4.0,<4.1
django-axes
django-crispy-forms
django-debug-toolbar
django-environ
django-guardian
django-ical
django-markdownify
django-rest-swagger
djangorestframework
gunicorn
icalendar
ipython
mypy
passlib
# Change to just "prospector" once they fix flake8 dependencies
https://github.com/PyCQA/prospector/archive/c31bb80d61d49d37a1fe67635aae22f5896111ed.zip
psycopg2-binary
pyflakes
pytest
pytest-cov
pytest-django
pytest-subtests
whitenoise
