black
coverage
django>=2.2,<3.2
django-axes
django-crispy-forms
django-debug-toolbar
django-environ
django-guardian
django-ical
django-markdownify
django-recaptcha2
django-rest-swagger
djangorestframework
future
gitpython
gunicorn
icalendar
ipython
mypy
passlib
pip-tools
prospector
psycopg2-binary
pytest
pytest-cov
pytest-django
pytest-subtests
pytz
sentry-sdk
whitenoise
