{% load cache %}
{% load staticfiles %}
{% load version %}

<!DOCTYPE html>
<html lang="fi">
<head>
    <title>{% block title %}Modeemi ry{% endblock title %}</title>
    {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google-site-verification" content="Z7gaVVWmpZl9-SEy4mUPSYxbvyGYJNBiXME7lxZgh1k" />
        <meta name="author" content="Modeemi ry - ATK-alan harrastajien yhdistys">
        <meta name="description" content="{% block description %}Modeemi ry - ATK-alan harrastajien yhdistys, joka on vuodesta 1977 edistänyt Suomen tietokoneharrastajien verkostoitumista Tampereelta, TTY:ltä.{% endblock description %}" />
        {% block og %}
            <meta property="fb:app_id" content="1873518479587564" />
            <meta property="og:type" content="{% block og-type %}website{% endblock og-type %}" />
            <meta property="og:title" content="{% block og-title %}Modeemi ry{% endblock og-title %}" />
            <meta property="og:description" content="{% block og-description %}Modeemi ry - ATK-alan harrastajien yhdistys{% endblock og-description %}" />
            <meta property="og:url" content="{% block og-url %}https://www.modeemi.fi{{ request.get_full_path }}{% endblock og-url %}" />
            <meta property="og:image" content="{% block og-image %}https://www.modeemi.fi{% static "logo/logo.png" %}{% endblock og-image %}" />
        {% endblock og %}
    {% endblock meta %}
    {% block link %}
        <link rel="canonical" href="https://www.modeemi.fi{{ request.get_full_path }}" />
        {% cache 3600 link %}
            <link type="image/x-icon" rel="icon" href="{% static "favicon.ico" %}" />
            <link type="text/css" rel="stylesheet"  href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
            <link type="text/css" rel="stylesheet"  href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}" />
            <link type="text/css" rel="stylesheet"  href="{% static "font-awesome/css/font-awesome.min.css" %}" />
            <link type="text/css" rel="stylesheet"  href="{% static "css/modeemi.css" %}" />
        {% endcache %}
    {% endblock link %}
</head>

<body>
{% include "nav.html" %}
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

{% cache 3600 footer %}
    <footer>
        <div class="col-xs-12 text-center">
            <hr />
            <p>&copy; Modeemi ry 2014-{% now "Y" %} (BSD Licensed) &middot; Versio <a href="https://github.com/modeemi/intternetvelho/commit/{% version %}">{% version %}</a>
            <p>Network service provided by <a href="https://www.csc.fi/">CSC</a>, no ads or commercial use allowed.</p>
            <a href="https://www.debian.org/"><img class="poweredbybadge" src="{% static "logo/debian.png" %}" height="45" width="110" alt="Powered by Debian." /></a>
            <a href="https://www.python.org/"><img class="poweredbybadge" src="{% static "logo/python.png" %}" height="45" width="111" alt="Powered by Python." /></a>
            <a href="https://www.djangoproject.com/"><img class="poweredbybadge" src="{% static "logo/django.png" %}" height="45" width="106" alt="Powered by Django." /></a>
            <a href="https://www.postgresql.org/"><img class="poweredbybadge" src="{% static "logo/postgresql.png" %}" height="45" width="84" alt="Powered by PostgreSQL." /></a>
        </div>
    </footer>
{% endcache %}

{% block script %}
    {% cache 3600 script %}
        <script type="text/javascript" charset="utf-8" src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    {% endcache %}
{% endblock script %}

</body>
</html>
