{% extends "base.html" %}
{% block content %}

<h1>Modeemi ryn hallitus</h1>

<p>Hallitus kokoustaa noin kerran kuukaudessa. Jäsenhakemukset käsitellään lähtökohtaisesti kokouksissa. Jos sinulla on kiireellistä asiaa, otathan <a href="/ry/yhteystiedot">yhteyttä</a> hallitukseen.</p>

<p>Varsinaiseen hallitukseen kuuluu vuonna 2024 puheenjohtaja, sihteeri, rahastonhoitaja ja laitteistovastaava. Yhdistyksen hallituksella on myös varajäsen. Lisäksi hallituksen neuvonantajana toimii oltermanni, joka on yhdistyksen vanhempi jäsen. Varsinaisia toiminnantarkastajia on kaksi, joiden lisäksi kerholla on kaksi varatoiminnantarkastajaa. Hallitus voi nimittää avukseen ja erinäisiin toimiin yhdistyksen sääntöjen puitteissa toimihenkilöitä, jotka avustavat erinäisten toimintojen ja tapahtumien järjestämisessä.</p>

<h2>Hallitus ja toimitsijat 2024</h2>

<ul>
    <li>Puheenjohtaja: Pauli Kauro</li>
    <li>Varapuheenjohtaja: Jim &lt;zertap&gt; Bäckström</li>
    <li>Rahastonhoitaja: Sami &lt;seeSami&gt; Hartala</li>
    <li>Sihteeri: Petri Kemppinen</li>
    <li>Laitteistovastaava: Nikoloz Glonti</li>
    <li>Varajäsen: Jussi &lt;bitofhope&gt; Toivonen</li>
    <li>Oltermanni: Jussi &lt;bitofhope&gt; Toivonen</li>
    <li>Toiminnantarkastajat: Anssi &lt;aivoapina&gt; Varjonen ja Saskia &lt;tupsu&gt; Simisker</li>
    <li>Varatoiminnantarkastajat: Laura Ollikainen ja Elli &lt;gqqish&gt; Mansikka</li>
</ul>

<h2>Hallitus ja toimitsijat 2022 & 2023</h2>

<ul>
    <li>Puheenjohtaja: Sami &lt;seeSami&gt; Hartala</li>
    <li>Varapuheenjohtaja: Jim &lt;zertap&gt; </li>
    <li>Rahastonhoitaja: Saskia &lt;tupsu&gt; Simisker </li>
    <li>Sihteeri, Laitteistovastaava: Jussi &lt;bitofhope&gt; Toivonen</li>
    <li>Varajäsen: Petri Kemppinen</li>
    <li>Oltermanni: Ossi &lt;Pilkki&gt; Hakkarainen</li>
    <li>Toiminnantarkastajat: Anssi &lt;aivoapina&gt; Varjonen ja Miia &lt;kissamaagi&gt; Pynnönen</li>
    <li>Varatoiminnantarkastajat: Elli &lt;gqqish&gt; Mansikka ja Jarkko &lt;jaro&gt; Oranen</li>
</ul>

<h2>Hallitus ja toimitsijat 2021</h2>

<ul>
    <li>Puheenjohtaja: Jussi Toivonen</li>
	<li>Varapuheenjohtaja, laitteistovastaava: Saskia Simisker</li>
    <li>Rahastonhoitaja: Sami Hartala</li>
    <li>Sihteeri: Petri Kemppinen</li>
	<li>Varajäsen: Hannu Markkula</li>
    <li>Oltermanni: Erkki Seppälä</li>
	<li>Yliadmin: Ossi Hakkarainen</li>
	<li>ATK-toimari: Jim Bäckström</li>
	<li>Toiminnantarkastajat: Anssi Varjonen ja Rudi Ritosalo</li>
	<li>Varatoiminnantarkastajat: Tommi Raulahti ja Teppo Rekola</li>
</ul>

<h2>Hallitus ja toimitsijat 2020</h2>

<ul>
    <li>Puheenjohtaja: Jussi Toivonen</li>
    <li>Sihteeri: Petri Kemppinen</li>
    <li>Rahastonhoitaja: Sami Hartala</li>
    <li>Hallituksen jäsen: Hannu Markkula</li>
    <li>Varajäsen: Otto Lähepelto</li>
    <li>Oltermanni: Erkki Seppälä</li>
    <li>Toiminnantarkastajat: Onni Hytönen ja Tommi Nikula</li>
    <li>Varatoiminnantarkastajat: Juuso Eronen ja Antti Kumavaara</li>
</ul>

<h2>Hallitus ja toimitsijat 2019</h2>

<ul>
    <li>Puheenjohtaja: Tommi Nikula</li>
    <li>Sihteeri: Antti Kumavaara</li>
    <li>Rahastonhoitaja: Juuso Eronen</li>
    <li>Laitteistovastaava: Jussi Toivonen</li>
    <li>Varajäsen: Onni Hytönen</li>
    <li>Oltermanni: Erkki Seppälä</li>
    <li>Toiminnantarkastajat: Anssi Varjonen ja Rudi Ritosalo</li>
    <li>Varatoiminnantarkastajat: Jani Lahti ja Marja Salmi</li>
</ul>

<h2>Hallitus ja toimitsijat 2018</h2>

<ul>
    <li>Puheenjohtaja: Aleksi Häkli</li>
    <li>Sihteeri: Anssi Varjonen</li>
    <li>Rahastonhoitaja: Sauli Anto</li>
    <li>Laitteistovastaava: Ossi Hakkarainen</li>
    <li>Ekskursiovastaava: Tommi Nikula</li>
    <li>Tapahtumavastaavat: Rudi Ritosalo ja Juuso Eronen</li>
    <li>Varajäsen: Juho Jokelainen</li>
    <li>Oltermanni: Erkki Seppälä</li>
    <li>Toiminnantarkastajat: Erkki Seppälä ja David Landau</li>
    <li>Varatoiminnantarkastajat: Marko Heikkinen ja Juho Vähätalo</li>
    <li>Sisustusvastaava: Juho Vähätalo</li>
    <li>Graafikko: Janne Peltonen</li>
    <li>Limuvastaava: Ari Alanko</li>
</ul>

<h2>Hallitus ja toimitsijat 2017</h2>

<ul>
    <li>Puheenjohtaja: Marko <i>Makekaze</i> Hakkarainen</li>
    <li>Sihteeri: Henri <i>H3kk3</i> Eloranta</li>
    <li>Rahastonhoitaja: Sauli <i>iSaul</i> Anto</li>
    <li>Laitteistovastaava: Ossi <i>Pilkki</i> Hakkarainen</li>
    <li>Varajäsen: Ari <i>cowtown</i> Alanko</li>
    <li>Oltermanni: Erkki <i>flux</i> Seppälä</li>
    <li>Toiminnantarkastajat: Petteri <i>spiikki</i> Sillanpää ja Nina-Mari <i>ninnnu</i> Kuisma</li>
    <li>Varatoiminnantarkastajat: Kimmo <i>kimju</i> Jukarainen ja Juho <i>Jyhiz</i> Vähätalo</li>
</ul>

<h2>Hallitus ja toimitsijat 2016</h2>

<ul>
    <li>Puheenjohtaja: Marko <i>Makekaze</i> Hakkarainen</li>
    <li>Sihteeri: Henri <i>H3kk3</i> Eloranta</li>
    <li>Rahastonhoitaja: Sauli <i>iSaul</i> Anto</li>
    <li>Laitteistovastaava: Ossi <i>Pilkki</i> Hakkarainen</li>
    <li>Varajäsen: Nina-Mari <i>ninnnu</i> Kuisma</li>
    <li>Oltermanni: Toni <i>ToM</i> Syvänen</li>
    <li>Toiminnantarkastajat: Erkki <i>flux</i> Seppälä ja Kimmo <i>kimju</i> Jukarainen</li>
    <li>Varatoiminnantarkastajat: Tuukka <i>tic0</i> Tikkanen ja Erkki Lehtimäki</li>
</ul>

<h2>Hallitus ja toimitsijat 2015</h2>

<ul>
    <li>Puheenjohtaja: Nina-Mari Kuisma</li>
    <li>Sihteeri: Aleksi Häkli</li>
    <li>Rahastonhoitaja: Jussi Peltola</li>
    <li>Laitteistovastaava: Ossi Hakkarainen</li>
    <li>Varajäsen: Janne Peltonen</li>
</ul>

<h2>Hallitus ja toimitsijat 2014</h2>

<ul>
    <li>Puheenjohtaja: Nina-Mari Kuisma</li>
    <li>Sihteeri: Aleksi Häkli</li>
    <li>Rahastonhoitaja: Jussi Peltola</li>
    <li>Laitteistovastaava: Ossi Hakkarainen</li>
    <li>Varajäsen: Tuukka Lahti</li>
    <li>Oltermanni: Erkki Seppälä</li>
    <li>Toiminnantarkastajat: Kimmo Jukarainen ja Jari Vanhala</li>
    <li>Varatoiminnantarkastajat: Jani Lahti ja Juha Leskelä</li>
</ul>
{% endblock %}
