{% extends "base.html" %}
{% block content %}
<h1>Yhteystiedot / Contact details</h1>

<h3>WWW</h3>

<p><a href="https://www.modeemi.fi">https://www.modeemi.fi</a></p>

<h3>E-mail</h3>

<p><a href="mailto:hallitus@modeemi.fi">hallitus@modeemi.fi</a></p>

<h3>IRC</h3>

<p>#modeemi@IRCnet</p>

<h3>Käyntiosoite / Physical address</h3>

<p>Modeemin kerhohuone on Tietotalon pohjakerroksessa TiTekillan vieressä Sähkötaloa vastapäätä.</p>
<p><b>HUOM</b> käytäthän alempana olevaa PL-postiosoitetta kirjepostin kera.</p>

<address>
<pre>
Tietotalo, huone TA013
Korkeakoulunkatu 1
FIN-33720 Tampere
</pre>
</address>

<h3>Postiosoite / Snail mail</h3>

<address>
<pre>
Modeemi ry c/o TTY
PL 553
FIN-33101 Tampere
</pre>
</address>

<h3>Tilinumero, yritystunnus / Bank account, Business ID</h3>

<address>
<pre>
IBAN:     FI63 7997 7997 5375 48
BIC:      HOLVFIHH
Y-tunnus: 0206026-9
</pre>
</address>

{% endblock %}
