{% extends "base.html" %}
{% block content %}
<h2>Tietokone&shy;harraste&shy;kerho Modeemi ry</h2>

<p>Tervetuloa Modeemi ryn uudistuneille verkkosivuille!</p>
<p>Modeemi ry on <a href="http://www.tut.fi/">Tampereen teknillisen yliopiston</a> piirissä vuodesta 1977 saakka toimiva ATK-alan harrastajien yhdistys. Suoritamme säätöä, tunkkausta, saunontaa ja syömistä. Lisäksi välitämme alan kirjallisuutta ja annamme Oikeita Mielipiteitä™ lähes kaikissa alan ongelmissa.</p>

<h2>Uusimmat uutiset</h2>

<ul itemscope itemtype="http://schema.org/Article">
    {% for n in news %}
    <li><a href="/uutiset/{{ n.id }}" itemprop="headline">{{ n.title }}</a> (<time datetime="{{ n.posted|date:'Y-m-d' }}">{{ n.posted|date:'d-m-Y' }}</time>)</li>
    {% endfor %}
</ul>
{% endblock %}
