{% extends "base.html" %}
{% block content %}
<h2>Hakemus</h2>

<p>Täytä alla oleva <strong>lomake</strong> tehdäksesi jäsenhakemuksen.</p>
<p>Ennen jäsenhakemuksen käsittelyä hallitus tarkastaa, että olet <strong>maksanut 8 euron jäsenmaksun</strong> tilille 224318-5739.</p>
<p>Maksua varten saat hakemuslomakkeesta <strong>viitteen</strong> itsellesi.</p>
<p>Jäsenhakemuksen tehdessäsi hyväksyt samalla <a href="http://www.csc.fi/hallinto/funet/esittely/etiikka/index_html">FUNET-tietoverkon käyttösäännöt</a>.</p>

<hr />

{% load crispy_forms_tags %}
{% crispy form %}

{% endblock %}

