{% extends "base.html" %}
{% block content %}

<h2>Modeemi ryn hallitus</h2>

<p>Hallitus kokoustaa noin kerran kuukaudessa. Jäsenhakemukset käsitellään lähtökohtaisesti kokouksissa. Jos sinulla on kiireellistä asiaa, otathan <a href="/ry/yhteystiedot">yhteyttä</a> hallitukseen.</p>

<p>Varsinaiseen hallitukseen kuului vuonna 2016 puheenjohtaja, sihteeri, rahastonhoitaja sekä laitteistovastaava.</p>

<h3>Hallitus ja toimitsijat 2016</h3>

<ul>
    <li>Puheenjohtaja: Marko <i>Makekaze</i> Hakkarainen</li>
    <li>Sihteeri: Henri <i>H3kk3</i> Eloranta</li>
    <li>Rahastonhoitaja: Sauli <i>iSaul</i> Anto</li>
    <li>Laitteistovastaava: Ossi <i>Pilkki</i> Hakkarainen</li>
    <li>Varajäsen: Nina-Mari <i>ninnnu</i> Kuisma</li>
    <li>Oltermanni: Toni <i>ToM</i> Syvänen</li>
    <li>Toiminnantarkastajat: Erkki <i>flux</i> Seppälä ja Kimmo <i>kimju</i> Jukarainen</li>
    <li>Varatoiminnantarkastajat: Tuukka <i>tic0</i> Tikkanen ja Erkki Lehtimäki</li>
</ul>

<h3>Hallitus ja toimitsijat 2015</h3>

<ul>
    <li>Puheenjohtaja: Nina-Mari Kuisma</li>
    <li>Sihteeri: Aleksi Häkli</li>
    <li>Rahastonhoitaja: Jussi Peltola</li>
    <li>Laitteistovastaava: Ossi Hakkarainen</li>
    <li>Varajäsen: Janne Peltonen</li>
</ul>

<h3>Hallitus ja toimitsijat 2014</h3>

<ul>
    <li>Puheenjohtaja: Nina-Mari Kuisma</li>
    <li>Sihteeri: Aleksi Häkli</li>
    <li>Rahastonhoitaja: Jussi Peltola</li>
    <li>Laitteistovastaava: Ossi Hakkarainen</li>
    <li>Varajäsen: Tuukka Lahti</li>
    <li>Oltermanni: Erkki Seppälä</li>
    <li>Toiminnantarkastajat: Kimmo Jukarainen ja Jari Vanhala</li>
    <li>Varatoiminnantarkastajat: Jani Lahti ja Juha Leskelä</li>
</ul>
{% endblock %}
