{% extends "base.html" %}
{% block content %}

<h2>Halutaan</h2>

<p>Modeemi ry:n laitteisto on pääosin lahjoituksina saatua. Tältä sivulta näet voitko avustaa kerhon toimintaa.</p>

<p>Kämppä täyttynyt toimivasta atk:sta? Tarjoa osoitteeseen laitteistovastaava &lt;ät&gt; modeemi.fi!</p>

<p>Tällä hetkellä erityisesti kaivataan:</p>

<p>Koneita ja varaosia:</p>

<ul>
    <li>USB-polttava cd-asema / kehikko sissemalle (ide/sata)</li>
    <li>USB-jatkokaapeli (3-5m) tai usb-hubi vastaavalla kaapelilla</li>
    <li>3x32A -&gt; 16A PDU</li>
    <li>3x32A -&gt; 3x 32A mustekala</li>
    <li>C19-shuko piuhoja</li>
    <li>DL145G2 left side pci-x riser</li>
    <li>360104-001 kiskot (mm. DL360G4, DL145G2)</li>
    <li>HP DL380G3 runko,mielellään kokonainen (levyjä ei tarvitse) ja toimiva.</li>
    <li>Sata-levyjä koossa 80G+</li>
    <li>SCSI-levyjä koossa 33G+, 68pin (ei siis hotplug)</li>
    <li>64bittistä rautaa. Mielellään tietysti räkkiin sopivaa,mutta myös kaikki desktop-rauta kelpaa.</li>
    <li>3.4Ghz Xeon 1M kakulla</li>
    <li>1U siili ruuvikiinnityksellä dl140g2:een</li>
</ul>

<p>Muuta:</p>

<ul>
    <li>Upseja hyvässä hapessa olevilla akustoilla.</li>
</ul>

{% endblock %}
