{% extends "base.html" %}
{% block content %}

<h2>Halutaan</h2>

<p>Kämppä täyttynyt toimivasta ATK:sta? Tarjoa <a href="mailto:hallitus@modeemi.fi">sähköpostilla</a>.</p>

<p>Modeemin laitteisto on pääosin lahjoituksina saatua. Erikoisempi (vanha) sekä toimiva (uudempi) rauta on aina kaivattua.</p>

<p>Mikäli edustat yritystä ja haluat sponsoriksi modernilla rautalahjoituksella, <a href="mailto:hallitus@modeemi.fi">ota yhteyttä sähköpostitse</a>. Erityisesti mediakäyttöön soveltuva ATK olisi mieluisaa jäsenistökäyttöön tarjottavaksi. Keskustelemme mielellämme fyysisestä mainospaikasta kerhotilassa, verkkosivuille mainosta emme voi julkaista palveluehtojen vuoksi.</p>

<p>Tällä hetkellä erityisesti kaivataan:</p>

<ul>
    <li>360104-001 kiskot (mm. DL360G4, DL145G2)</li>
    <li>HP DL380G3 runko, mielellään kokonainen (levyjä ei tarvitse) ja toimiva</li>
    <li>SATA-levyjä koossa 80G+</li>
    <li>SCSI-levyjä koossa 33G+, 68pin (ei siis hotplug)</li>
    <li>POE-injektoreita tai POE-kytkin</li>
    <li>Mediakäyttöön soveltuva, <a href="http://store.steampowered.com/sale/steam_machines">Steam Machine -tasoinen PC</a>.</li>
</ul>

{% endblock %}
