{% extends "base.html" %}
{% block content %}

<h1>Laitteisto</h1>

<p>Modeemi ry hallinnoi ja tarjoaa koneita TTY:n tiloissa jäsenistön käyttöön.</p>
<p>Palvelinlaitteisto on tarkoitusta varten rakennetussa laitteistotilassa erillisilmastoituna. Sähkönsyötöstä ja varavirrasta vastaa suomalainen Fiskars UPS 8000, ja Internet-yhteyden nopeus on 1Gbps.</p>
<p>Mikäli haluat tukea yhdistyksen toimintaa, <a href="{% url 'wishlist' %}">lahjoita rautaa, paranna palvelua!</a></p>

<table class="table table-responsive">
    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Jäsenten käytössä</h3>
        </th>
    </tr>
    </thead>

    <thead>
    <tr>
        <th>Hostname</th>
        <th>Kone</th>
        <th>Prosessori</th>
        <th>Muisti</th>
        <th>Kovalevy</th>
        <th>OS</th>
        <th>funktio</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>battery</td>
        <td>HP BL460c</td>
        <td>2 x Xeon L5420 (Quad 2,50GHz)</td>
        <td>32G</td>
        <td>36G RAID1</td>
        <td>CentOS 7.4</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>coffee</td>
        <td>HP BL460c</td>
        <td>2 x Xeon L5420 (Quad 2,50GHz)</td>
        <td>32G</td>
        <td>36G RAID1</td>
        <td>Ubuntu 18.04</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>sprite</td>
        <td>VM</td>
        <td>8 vCPU</td>
        <td>8G</td>
        <td>10G</td>
        <td>Gentoo</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>beer</td>
        <td>VM</td>
        <td>4 vCPU</td>
        <td>8G</td>
        <td>10G</td>
        <td>FreeBSD 11.1</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>vanilla</td>
        <td>VM</td>
        <td>4 vCPU</td>
        <td>8G</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>pepper</td>
        <td>Sun Fire V240</td>
        <td>2 x UltraSPARC-IIIi 1280 MHz</td>
        <td>4G</td>
        <td>72G RAID1</td>
        <td>Solaris 10</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>fanta</td>
        <td>Digital Personal Workstation 600AU</td>
        <td>Alpha 21164 600Mhz</td>
        <td>256M</td>
        <td>8 + 11G</td>
        <td>HP Tru64 UNIX V5.1B (Rev. 2650)</td>
        <td>Legacy</td>
    </tr>
    <tr>
        <td>ipa</td>
        <td>HP Integrity RX2620</td>
        <td>2 x 1.6GHz Itanium 2</td>
        <td>16G</td>
        <td>300G RAID1</td>
        <td>HP-UX</td>
        <td>ks. edellinen</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Klubihuoneen ATK</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>toxic</td>
        <td>Työasema</td>
        <td>Intel C2D E8400</td>
        <td>4G</td>
        <td>1000G</td>
        <td>Debian 8</td>
        <td>Linux-työasema</td>
    </tr>
    <tr>
        <td>smurffi</td>
        <td>Työasema</td>
        <td>AMD Phenom X2 4200</td>
        <td>4G</td>
        <td>1000G</td>
        <td>Debian 8</td>
        <td>Linux-työasema</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Erinäisten palveluiden pyörittäjiä</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>water</td>
        <td>HP DL380G5</td>
        <td>2x Xeon L5240 3.0GHz</td>
        <td>16GB</td>
        <td>72G RAID1<br/>56x300G FC 8xRAIDZ2 = ~12TB</td>
        <td>OmniOS</td>
        <td>Levyjaot</td>
    </tr>
    <tr>
        <td>sihi</td>
        <td>HP DL380G4</td>
        <td>2 x 3.4Ghz Xeon 32bit</td>
        <td>8G</td>
        <td>2x2x2T RAIDZ1</td>
        <td>OpenSolaris</td>
        <td>Sisäinen backup</td>
    </tr>
    <tr>
        <td>gin</td>
        <td>HP DL380G4</td>
        <td>2 x 3.4Ghz Xeon 32bit</td>
        <td>10G</td>
        <td>2x36G RAID1, 12x1T RAID6</td>
        <td>Debian 7</td>
        <td>Jäsenistön backup</td>
    </tr>
    <tr>
        <td>modeemi</td>
        <td>Sun Fire V440</td>
        <td>4 x UltraSPARC-IIIi 1281 MHz</td>
        <td>8GB</td>
        <td>72G RAID1</td>
        <td>Solaris 10</td>
        <td>Hallinta, Email</td>
    </tr>
    <tr>
        <td>votka</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>2GB</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>DNS, OpenVPN</td>
    </tr>
    <tr>
        <td>spam</td>
        <td>VM</td>
        <td>4 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>Roskapostisuodin</td>
    </tr>
    <tr>
        <td>cherry</td>
        <td>VM</td>
        <td>4 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>Intternet&shy;palvelin</td>
    </tr>
    <tr>
        <td>imperial</td>
        <td>VM</td>
        <td>4 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>MUD-serveri</td>
    </tr>
    <tr>
        <td>matrix</td>
        <td>VM</td>
        <td>8 vCPU</td>
        <td>8GB</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>Matrix-serveri</td>
    </tr>
    <tr>
        <td>esx-a1</td>
        <td>HP BL685 G7</td>
        <td>4x Opteron 6276</td>
        <td>64GB</td>
        <td>72G RAID1</td>
        <td>VMware ESXi 6.0</td>
        <td>Virtuaalialusta</td>
    </tr>
    <tr>
        <td>esx-a2</td>
        <td>HP BL685 G7</td>
        <td>4x Opteron 6276</td>
        <td>64GB</td>
        <td>72G RAID1</td>
        <td>VMware ESXi 6.0</td>
        <td>Virtuaalialusta</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Muuta</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>modeemi-gw</td>
        <td>Cisco 6503</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Cisco IOS</td>
        <td>Gateway</td>
    </tr>
    <tr>
        <td>modeemi-sw1</td>
        <td>HP ProKurwa 5406zl</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>TOR-kytkin</td>
    </tr>
    <tr>
        <td>hessu</td>
        <td>Axis M1054</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Kerho&shy;huoneen webcam</td>
    </tr>
    <tr>
        <td>kovocam</td>
        <td>Axis 2100</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Kone&shy;huoneen webcam</td>
    </tr>
    </tbody>
</table>
{% endblock %}
