{% extends "base.html" %}
{% block content %}

<h1>Laitteisto / Hardware</h1>

<p>Modeemi ry hallinnoi ja tarjoaa koneita Tampereen Yliopiston Hervannan kampuksen tiloissa jäsenistön käyttöön.</p>
<p>Palvelinlaitteisto on tarkoitusta varten rakennetussa laitteistotilassa erillisilmastoituna. Sähkönsyötöstä ja varavirrasta vastaa suomalainen Fiskars UPS 8000, ja Internet-yhteyden nopeus on 1Gbps.</p>
<p>Mikäli haluat tukea yhdistyksen toimintaa, <a href="{% url 'wishlist' %}">lahjoita rautaa, paranna palvelua!</a></p>
<p> </p>
<p>Modeemi ry manages and provides computers for use by it's members at Hervanta campus of Tampere University.</p>
<p>Server machines are located nearby clubroom inside the machine room with proper air conditioning. We also have Finnish Fiskars UPS 8000, and 1Gbps internet uplink.</p>
<p>If You would like to make our services better, please consider <a href="{% url 'wishlist' %}">donating a hardware!</a></p>


<table class="table table-responsive">
    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>For members use</h3>
        </th>
    </tr>
    </thead>

    <thead>
    <tr>
        <th>Hostname</th>
        <th>Kone</th>
        <th>Prosessori</th>
        <th>Muisti</th>
        <th>Kovalevy</th>
        <th>OS</th>
        <th>funktio</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>battery</td>
        <td>Dell R430</td>
        <td>Xeon E5-2630v3 2,40GHz</td>
        <td>32G</td>
        <td>146G RAID1</td>
        <td>AlmaLinux 9.5</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>coffee</td>
        <td>Dell R430</td>
        <td>Xeon E5-2630v3 2,40GHz</td>
        <td>32G</td>
        <td>136G</td>
        <td>Ubuntu 24.04</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>beer</td>
        <td>VM</td>
        <td>8 vCPU</td>
        <td>8G</td>
        <td>15G</td>
        <td>FreeBSD 14.3</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>vanilla</td>
        <td>VM</td>
        <td>4 vCPU</td>
        <td>8G</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>fanta</td>
        <td>Digital Personal Workstation 600AU</td>
        <td>Alpha 21164 600Mhz</td>
        <td>256M</td>
        <td>8 + 11G</td>
        <td>HP Tru64 UNIX V5.1B (Rev. 2650)</td>
        <td>Legacy</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Clubroom machines</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>toxic</td>
        <td>Työasema</td>
        <td>Intel C2D E8400</td>
        <td>4G</td>
        <td>1000G</td>
        <td>Debian 10</td>
        <td>Linux-työasema</td>
    </tr>
    <tr>
        <td>smurffi</td>
        <td>Työasema</td>
        <td>AMD Phenom X2 4200</td>
        <td>4G</td>
        <td>1000G</td>
        <td>Debian 8</td>
        <td>Linux-työasema</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Virtual Machines</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>cherry</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 12</td>
        <td>Web server</td>
    </tr>
    <tr>
        <td>votka</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>2GB</td>
        <td>10G</td>
        <td>Debian 12</td>
        <td>DNS, OpenVPN</td>
    </tr>
    <tr>
        <td>grandi</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>4GB</td>
        <td>8G</td>
        <td>Debian 12</td>
        <td>Netbox</td>
    </tr>
    <tr>
        <td>doors</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>2GB</td>
        <td>25G</td>
        <td>Debian 13</td>
        <td>doorbot project</td>
    </tr>
    <tr>
        <td>modeemi</td>
        <td>Sun Enterprise T5440</td>
        <td>256GB</td>
        <td></td>
        <td></td>
        <td>Solaris zone on screwdriver</td>
        <td>Management, Email</td>
    </tr>
    <tr>
        <td>spam</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 12</td>
        <td>Inbound mail filter</td>
    </tr>
    <tr>
        <td>junk</td>
        <td>VM</td>
        <td>2 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 12</td>
        <td>Inbound mail filter</td>
    </tr>
    <tr>
        <td>mgw</td>
        <td>OpenIndiana zone</td>
        <td>8 vCPU</td>
        <td>16GB</td>
        <td>268G</td>
        <td>OpenIndiana Hipster 2025.06</td>
        <td>Outbound mail relay</td>
    </tr>
    <tr>
        <td>imperial</td>
        <td>VM</td>
        <td>1 vCPU</td>
        <td>4GB</td>
        <td>10G</td>
        <td>Debian 9</td>
        <td>MUD-serveri</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Role-specific machines</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>jug</td>
        <td>ProLiant DL380p Gen8</td>
        <td>Xeon E5-2695v2 2.40GHz</td>
        <td>192G</td>
        <td>2 x 230GB RAID1</td>
        <td>Proxmox VE</td>
        <td>First proxmox node</td>
    </tr>
    <tr>
        <td>goblet</td>
        <td>ProLiant DL380p Gen8</td>
        <td>2 x Xeon E5-2620 2.00GHz</td>
        <td>64GB(CPU1) + 64GB(CPU2)</td>
        <td>2 x 200GB RAID1</td>
        <td>Proxmox VE</td>
        <td>Second proxmox node</td>
    </tr>
    <tr>
        <td>bottle</td>
        <td>ProLiant DL380p Gen8</td>
        <td>2 x Xeon E5-2640v2 2.00GHz </td>
        <td>128GB(CPU1) + 128GB(CPU2)</td>
        <td>200 GB + 480 GB</td>
        <td>Proxmox VE</td>
        <td>Third proxmox node</td>
    </tr>
    <tr>
        <td>vichy</td>
        <td>ProLiant DL380 Gen10</td>
        <td>2 x Xeon Gold 6144 3.50GHz </td>
        <td>128GB(CPU1) + 128GB(CPU2)</td>
        <td>6 x 7.68TB (RAIDZ2)</td>
        <td>Ubuntu Server 24.04</td>
        <td>Network File System</td>
    </tr>
	<tr>
		<td>screwdriver</td>
		<td>Sun Enterprise T5440</td>
		<td>4 x 1.4GHz UltraSPARC T2 Plus</td>
		<td>256GB</td>
		<td>72G ZFS mirror<br />146G ZFS mirror</td>
		<td>Solaris 11</td>
		<td>Global zone host</td>
	</tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Network equipment and miscellaneous appliances</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>modeemi-gw</td>
        <td>Mikrotik CCR2004-16G-2S+</td>
        <td></td>
        <td></td>
        <td></td>
        <td>RouterOS</td>
        <td>Gateway and Firewall</td>
    </tr>
    <tr>
        <td>modeemi-sw0</td>
        <td>Cisco 6503</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Cisco IOS</td>
        <td>Aggregation Switch</td>
    </tr>
    <tr>
        <td>modeemi-sw1</td>
        <td>HP ProKurwa 5406zl</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>TOR-switch</td>
    </tr>
    </tbody>
</table>
{% endblock %}
