{% extends "base.html" %}
{% block content %}
<h1>Modeemi ry - Tamperelainen tietokone&shy;harraste&shy;kerho </h1>

<p>Tervetuloa Modeemi ryn verkkosivuille!</p>

<p>Modeemi ry on <a href="https://www.tuni.fi/">Tampereen yliopiston (TAU)</a> piirissä vuodesta 1977 saakka toiminut ATK-alan harrastajien yhdistys, jonka tavoitteena on edistää Suomen ATK-alan opiskelijoiden sekä valmistuneiden verkostoitumista ja harrastuneisuutta. Kerho harjoittaa käytännön tasolla säätöä, tunkkausta, saunontaa ja syömistä. Lisäksi välitämme alan kirjallisuutta ja annamme Oikeita Mielipiteitä™ lähes kaikissa alan ongelmissa. Tule kysymään oikeita mielipiteitä tai apua osoitteeseen #modeemi @ IRCnet. </p>

<p>🇬🇧: Modeemi ry is a computer hobbyist association that has been operating within <a href="https://www.tuni.fi/">Tampere University (TAU)</a> since 1977, with the goal of promoting networking and hobby activities among Finnish computing students and graduates.</p>

{% if news %}
<h2>Uusimmat uutiset</h2>

<ul itemscope itemtype="http://schema.org/Article">
    {% for n in news %}
    <li><a href="/uutiset/{{ n.id }}" itemprop="headline">{{ n.title }}</a> (<time datetime="{{ n.posted|date:'Y-m-d' }}">{{ n.posted|date:'Y-m-d' }}</time>)</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
