{% extends "base.html" %}
{% block content %}
<h2>Jäseneksi</h2>

<p>Halusitpa sitten oppia Unixia tai muuten vaan atk:n säätäminen kiinnostaa, olet jokatapauksessa tervetullut jäsenistöömme. Sinun ei tarvitse olla mikään Guru vaan pelkkä halu oppia riittää, me kyllä opetamme kuinka asiat tehdään oikein. Modeemin jäsenistöön kuuluu mm. useiden eri tietojärjestelmien ylläpitäjiä, joten osaamista löytyy.</p>

<p>Jäsenillä on mahdollisuus hankkia käyttäjätunnus Modeemin koneille. Laaja laitteistovalikoima sijaitsee huippunopeiden verkkoyhteyksien päässä ja mahdollistaa tutustumisen moniin eri järjestelmiin. Sähköpostin ja muiden palveluiden luotettava toiminta on Modeemille kunnia-asia. Meillä sähköposteja ei tuhota ylläpidon toimesta!</p>

<h3>Liittyminen jäseneksi</h3>

<p>Täytä alla oleva <strong>jäsenhakemuslomake</strong> tehdäksesi jäsenhakemuksen.</p>
<p>Saat <strong>8 euron suuruisen jäsenyysmaksun</strong> sisältävän <strong>laskun</strong> sekä <strong>viitenumeron</strong> kuluvan vuoden jäsenmaksun maksamiseen.</p>
<p>Kun olet maksanut jäsenmaksun, jäsenhakemuksesi käsitellään hallituksen kokouksessa ja saat sähköpostissa tiedon jäsenhakemuksesi hyväksymisestä, mahdollisista tunnuksista sekä virtuaaliavaimesta kerhohuoneelle.</p>

<p>Jäsenhakemuksen tehdessäsi hyväksyt samalla <a href="http://www.csc.fi/hallinto/funet/esittely/etiikka/index_html">FUNET-tietoverkon käyttösäännöt</a>.</p>

<hr />

{% load crispy_forms_tags %}
{% crispy form %}


{% endblock %}
