{% extends "base.html" %}
{% block content %}

<h1>Jäseneksi</h1>

<p>Halusitpa sitten oppia Unixia tai muuten vaan ATK:n säätäminen kiinnostaa, olet jokatapauksessa tervetullut jäsenistöömme. Sinun ei tarvitse olla mikään Guru, pelkkä halu oppia riittää. Me kyllä opetamme kuinka asiat tehdään Oikein&#8482;. Modeemin jäsenistöön kuuluu useiden eri tietojärjestelmien ylläpitäjiä, ohjelmoitsijoita, asentajia, tunkkaajia... osaamista löytyy.</p>

<p>Jäsenillä on mahdollisuus hankkia käyttäjätunnus Modeemin koneille. Laaja <a href="{% url 'laitteisto' %}">laitteistovalikoima</a> sijaitsee UPS-varmistettuna <a href="https://www.csc.fi/">CSC</a>:n ylläpitämän FuNET-runkoverkon huippunopeiden verkkoyhteyksien päässä ja mahdollistaa tutustumisen moniin eri järjestelmiin. Sähköpostin ja muiden palveluiden luotettava toiminta on Modeemille kunnia-asia. Meillä sähköposteja ei tuhota ylläpidon toimesta!</p>

<p>Modeemin jäsenenä voit myös tulla kerhohuoneelle katsomaan telkkaa, kuuntelemaan musiikkia, nauttimaan kahvista, Skrollista tai koodausrauhasta.</p>

<h2>Liittyminen jäseneksi</h2>

<p>Täytä alla oleva <strong>jäsenhakemuslomake</strong> tehdäksesi jäsenhakemuksen. Saat sähköpostissa vahvistuksen jäsenhakemuksestasi.</p>
<p>Sähköpostivahvistuksen saamisen jälkeen käy maksamassa kuluvan vuoden jäsenmaksu <a href="https://holvi.com/shop/modeemi/">yhdistyksen Holvi-verkkokaupassa</a>.</p>
<p>Kun olet maksanut jäsenmaksun, jäsenhakemuksesi käsitellään hallituksen kokouksessa ja saat sähköpostissa tiedon jäsenhakemuksesi hyväksymisestä, tunnuksista sekä virtuaaliavaimesta kerhohuoneelle.</p>

<h2>Ainaisjäsenyys</h2>

<p>Modeemiin on mahdollista liittyä myös ainaisjäseneksi. Ainaisjäsenyyden tarkoitus on Modeemin taloudellinen tukeminen, jonka lisäksi jäsenyys on elinikäinen. Ainaisjäsenyysmaksun suuruus on 256 euroa, joka maksetaan yhtälailla kerhon tilille. Ainaisjäsenyydestä kannattaa olla etukäteen <a href="mailto:hallitus@modeemi.fi">yhteydessä kerhon hallitukseen</a>.</p>

<p>Jäsenhakemuksen tehdessäsi hyväksyt samalla <a href="https://www.csc.fi/fi/yleiset-kayttoehdot">CSC-palveluiden ja FuNET-verkon käyttöehdot</a>.</p>

<h2>Jäsenhakemuslomake</h2>

<hr />

{% if success %}
<div class="alert alert-info" role="alert">
    <p>
    Kiitos jäsenhakemuksestasi!
    {% if mailing_success %}
    Sinulle on lähetetty jäsenmaksutiedot sähköpostilla.
    {% else %}
    Ikävä kyllä emme pystyneet jostain syystä lähettämään sinulle sähköpostilaskua; maksathan jäsenmaksun <a href="{% url 'yhteystiedot' %}">yhteystiedot-sivun</a> pankkitilille viestillä "Jäsenmaksu $vuosi $nimi".
    {% endif %}
    Hallitus käsittelee jäsenhakemuksesi seuraavassa kokouksessa ja on sinuun yhteydessä kokouksen jälkeen.
    </p>
</div>
{% else %}
{% load crispy_forms_tags %}
{% crispy form %}
{% endif %}

{% endblock %}
