{% extends "base.html" %}
{% block content %}

    <h2>Laitteisto</h2>

    <p>Modeemi ry hallinnoi ja tarjoaa koneita TTY:n tiloissa jäsenistön käyttöön.</p>

    <p>Mikäli haluat tukea yhdistyksen toimintaa, <a href="{% url 'views.halutaan' %}">lahjoita rautaa, paranna palvelua!</a></p>

    <table class="table table-responsive">
    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Jäsenten käytössä</h3>
        </th>
    </tr>
    </thead>

    <thead>
    <tr>
        <th>Hostname</th>
        <th>Kone</th>
        <th>Prosessori</th>
        <th>Muisti</th>
        <th>Kovalevy</th>
        <th>OS</th>
        <th>funktio</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>battery</td>
        <td>DL580G2</td>
        <td>4 x 3.0Ghz Xeon</td>
        <td>24G</td>
        <td>72G RAID1</td>
        <td>CentOS 5.6</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>coffee</td>
        <td>HP BL20p G3</td>
        <td>2 x 3.20Ghz Xeon 64bit</td>
        <td>8G</td>
        <td>72G RAID1</td>
        <td>Ubuntu 14.04</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>beer</td>
        <td>HP BL20p G3</td>
        <td>2 x 3.4Ghz Xeon 64bit</td>
        <td>8G</td>
        <td>72G RAID1</td>
        <td>FreeBSD 8.1</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>vanilla</td>
        <td>HP BL20p G3</td>
        <td>2 x 3.4Ghz Xeon 64bit</td>
        <td>8G</td>
        <td>72G RAID1</td>
        <td>Debian 7</td>
        <td>Streamikone</td>
    </tr>
    <tr>
        <td>pepper</td>
        <td>Sun Fire V240</td>
        <td>2 x UltraSPARC-IIIi 1280 MHz</td>
        <td>4G</td>
        <td>72G RAID1</td>
        <td>Solaris 10</td>
        <td>Shellikone</td>
    </tr>
    <tr>
        <td>fanta</td>
        <td>Digital Personal Workstation 600AU</td>
        <td>Alpha 21164 600Mhz</td>
        <td>256M</td>
        <td>8 + 11G</td>
        <td>HP Tru64 UNIX V5.1B (Rev. 2650)</td>
        <td>Legacy</td>
    </tr>
    <tr>
        <td>ipa</td>
        <td>HP Integrity RX2620</td>
        <td>2 x 1.6GHz Itanium 2</td>
        <td>16G</td>
        <td>300G RAID1</td>
        <td>HP-UX</td>
        <td>UNIX-kone</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Klubihuoneen ATK</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>toxic</td>
        <td>Työasema</td>
        <td>Intel C2D E8400</td>
        <td>4G</td>
        <td>120G</td>
        <td>Debian 7</td>
        <td>Linux-työasema</td>
    </tr>
    <tr>
        <td>smurffi</td>
        <td>Työasema</td>
        <td>AMD Phenom X2 4200</td>
        <td>4G</td>
        <td>1000G</td>
        <td>Debian 7</td>
        <td>Linux-työasema</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Erinäisten palveluiden pyörittäjiä</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>gw</td>
        <td>DL380G3</td>
        <td>2 x 3.06Ghz Xeon 32bit</td>
        <td>3G</td>
        <td>33.6G RAID1</td>
        <td>Debian 5 (custom kernel)</td>
        <td>Gateway</td>
    </tr>
    <tr>
        <td>fizz</td>
        <td>DL380G4</td>
        <td>2 x 3.4Ghz Xeon 32bit</td>
        <td>8G</td>
        <td>36G RAID1, 300G RAID1+0</td>
        <td>Debian 6</td>
        <td>ISCSI-jako</td>
    </tr>
    <tr>
        <td>sihi</td>
        <td>DL380G4</td>
        <td>2 x 3.4Ghz Xeon 32bit</td>
        <td>8G</td>
        <td>2x2x2T RAID1 ZFS</td>
        <td>OpenSolaris</td>
        <td>Backup-palvelin sisäiseen käyttöön</td>
    </tr>
    <tr>
        <td>gin</td>
        <td>DL380G4</td>
        <td>2 x 3.4Ghz Xeon 32bit</td>
        <td>10G</td>
        <td>2x36G RAID1, 12x1T RAID6</td>
        <td>Debian 7</td>
        <td>Backup-palvelin jäsenille</td>
    </tr>
    <tr>
        <td>modeemi</td>
        <td>Sun Fire V440</td>
        <td>4 x UltraSPARC-IIIi 1281 MHz</td>
        <td>8GB</td>
        <td>72G RAID1 + 14x72G RAIDZ2</td>
        <td>Solaris 10</td>
        <td>Levyjaot, DNS, Email</td>
    </tr>
    <tr>
        <td>pepsi</td>
        <td>DL145G2</td>
        <td>2 x Opteron 254 2.8GHz 64bit</td>
        <td>8G</td>
        <td>36G RAID1</td>
        <td>Xencenter 5.6</td>
        <td>Virtuaali&shy;alusta, node 1</td>
    </tr>
    <tr>
        <td>rum</td>
        <td>DL145G2</td>
        <td>2 x Opteron 254 2.8Ghz 64bit</td>
        <td>8G</td>
        <td>36G RAID1</td>
        <td>Xencenter 5.6</td>
        <td>Virtuaali&shy;alusta, node 2</td>
    </tr>
    <tr>
        <td>omppu</td>
        <td>Xen, pepsillä</td>
        <td>1 core</td>
        <td>3G</td>
        <td>10G</td>
        <td>Ubuntu 10.4.1</td>
        <td>Valvonta&shy;palvelin</td>
    </tr>
    <tr>
        <td>cherry</td>
        <td>Xen, pepsillä</td>
        <td>1 core</td>
        <td>512MB</td>
        <td>10G</td>
        <td>Debian 7</td>
        <td>Intternet&shy;palvelin</td>
    </tr>
    <tr>
        <td>imperial</td>
        <td>Xen, pepsillä</td>
        <td>1 core</td>
        <td>512MB</td>
        <td>10G</td>
        <td>Ubuntu 10.4.1</td>
        <td>MUD-serveri</td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <th colspan="7" class="equipment-header">
            <h3>Muuta</h3>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>hessu</td>
        <td>Axis M1054</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Kerho&shy;huoneen webcam</td>
    </tr>
    <tr>
        <td>kovocam</td>
        <td>Axis 2100</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Kone&shy;huoneen webcam</td>
    </tr>
    </tbody>
    </table>
{% endblock %}
