{% load active %}
{% load static %}

<!-- Picture, hidden with phones and other very small displays -->
<div class="header hidden-xs">
    <a href="https://github.com/modeemi/intternetvelho"><img id="ribbon" src="{% static 'image/ribbon.png' %}" alt="Fork me on GitHub" title="Fork me on GitHub" width="149" height="149"></a>
    <span>Modeemi</span>
</div>

<!-- Responsive navigation -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand hidden-sm hidden-md">Modeemi</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse disabled" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% active request '^/$' %}"><a class="navbar-item" href="{% url 'etusivu' %}">Etusivu</a></li>
                <li class="{% active request '^/uutiset/' %}"><a class="navbar-item" href="{% url 'uutiset' %}">Uutiset</a></li>
                <li><a class="navbar-item" href="http://blog.modeemi.fi">Blogi&nbsp;&nbsp;<i class="fa fa-external-link-square"></i></a></li>
                <li class="{% active request '^/ry/' %}"><a class="navbar-item" href="{% url 'yhdistys' %}">Yhdistys</a></li>
                <li class="{% active request '^/jaseneksi/' %}"><a class="navbar-item" href="{% url 'jaseneksi' %}">Jäseneksi</a></li>
                <li class="{% active request '^/palvelut/' %}"><a class="navbar-item" href="{% url 'palvelut' %}">Palvelut</a></li>
                <li class="{% active request '^/laitteisto/' %}"><a class="navbar-item" href="{% url 'laitteisto' %}">Laitteisto</a></li>
                <li class="{% active request '^/palaute/' %}"><a class="navbar-item" href="{% url 'palaute' %}">Palaute</a></li>
                {% if user.is_authenticated %}
                    <li class="{% active request '^/tili/tiedot/' %}"><a class="navbar-item" href="{% url 'kayttajatiedot' %}">Käyttäjätiedot</a></li>
                {% endif %}
                {% if perms.modeemintternet.view_membership %}
                    <li class="{% active request '^/tili/rekisteri/' %}"><a class="navbar-item" href="{% url 'kayttajarekisteri' %}">Käyttäjärekisteri</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a rel="nofollow" class="navbar-item" title="Uloskirjautuminen" href="{% url 'ulos' %}">Ulos <span class="fa fa-sign-out"></span></a></li>
                {% else %}
                    <li><a rel="nofollow" class="navbar-item" title="Sisäänkirjautuminen" href="{% url 'sisaan' %}">Sisään <span class="fa fa-sign-in"></span></a></li>
                {% endif %}

                {% if user.is_staff %}
                    <li><a rel="nofollow" class="navbar-item" title="Ylläpito" href="{% url 'admin:index' %}">Hallintaan <span class="fa fa-cogs"></span></a></li>
                {% endif %}
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>
