{% extends "base.html" %}
{% block content %}
<h1>Palaute</h1>

<p>Haluaisitko lisää limpparia klubille? Onko ATK rikki? Vaikuta toimintaan, lähetä risuja tai ruusuja hallitukselle alla olevalla lomakkeella!</p>
<p>Varsinaiset yhteydenottopyynnöt pyydämme tekemään <a href="/ry/yhteystiedot/">sähköpostilla</a>.</p>

<h2>Palautelomake</h2>

<hr />

{% if success %}
<div class="alert alert-info" role="alert">
    <p>Kiitos palautteestasi. Se on tallennettu ja lähetetty sähköpostilla hallitukselle.</p>
</div>
{% else %}
{% load crispy_forms_tags %}
{% crispy form %}
{% endif %}

{% endblock %}
