{% extends "base.html" %}
{% block content %}

<h1>Palvelut</h1>

<p>Modeemi ry järjestää jäsenilleen limumyyntiä, ATK:ta sekä luettavia lehtiä. Kerhohuoneelta löytyy jäsenistön käyttöön telkkari ChromeCastilla, kaiuttimet, vahvistin sekä rauhallinen työskentelytila. Myös kahvinkeitin sekä grillauvälineitä löytyy. Lehtinä klubille tulee tällä hetkellä mm. Skrolli.</p>

<h2>Limumyynti</h2>

<p>Kolottaako hammasta, maistuuko kylmä Dr. Pepper tai A&amp;W? Nouda kerhohuoneelta omasi, tarjolla juomia edulliseen hintaan.</p>

<p>Tällä hetkellä tarjoamme jäsenistön pyynnöstä seuraavia limuja (varastotilanne voi vaihdella).</p>

<ul>
    {% for soda in sodas %}
    {% if soda.active %}
    <li>{{ soda.name }} ({{soda.price }}e)</li>
    {% endif %}
    {% endfor %}
</ul>

<h2>ATK-palvelut</h2>

<p>Kerhohuoneelta löytyvät langattomat ModeemiG ja ModeemiN verkot. Kysy irkissä #modeemi@IRCnet salasanaa.</p>

<p>Laaja <a href="{% url 'laitteisto' %}">laitteistovalikoima</a> vaatii <a href="{% url 'jaseneksi' %}">käyttäjätunnuksen hakemisen</a>. Käyttäjätunnusta varten sinulla pitää olla käyttöoikeus FUNETin verkkoon.</p>

<p>Modeemi tarjoaa myös <a href="{% url 'backup' %}">backup-palvelua</a> varavirralla nopeiden yhteyksien päässä!</p>
{% endblock %}
