{% extends "base.html" %}
{% block content %}

<h2>Palvelut</h2>

<p>Modeemi ry järjestää jäsenilleen limumyyntiä, ATK:ta sekä luettavia lehtiä. Kerhohuoneelta löytyy jäsenistön käyttöön telkkari ChromeCastilla, kaiuttimet ja vahvistin sekä rauhallinen työskentelytila. Myös kahvinkeitin sekä grillauvälineitä löytyy. </p>

<h3>Limumyynti</h3>

<p>Kolottaako hammasta, maistuuko kylmää Dr. Pepper tai A&amp;W? Nouda kerhohuoneelta omasi, juomia edulliseen hintaan.</p>

<p>Tällä hetkellä tarjoamme jäsenistön pyynnöstä seuraavia limuja 1.5e ja 2e hintaan</p>

<ul>
    <li>Dr. Pepper</li>
    <li>A&amp;W</li>
    <li>Power Volt Cole</li>
    <li>7 Up Cherry </li>
    <li>Vanilla Coca-Cola</li>
</ul>

<h3>ATK-palvelut</h3>

<p>Kerhohuoneelta löytyy ModeemiG ja ModeemiN wlan-tukiasemat. Kysy irkissä#modeemi@IRCnet salasanaa.</p>

<p>Laaja <a href="{% url 'views.laitteisto' %}">laitteistovalikoima</a> vaatii <a href="{% url 'views.hakemus' %}">käyttäjätunnuksen hakemisen</a>. Käyttäjätunnusta varten sinulla pitää olla käyttöoikeus FUNETin verkkoon.</p>

<p>Vuoden 2011 uutuutena <a href="{% url 'views.backup' %}">Backup-palvelu</a>!</p>
{% endblock %}
