{% extends "base.html" %}
{% block content %}

<h2>Palvelut</h2>

<p>Modeemi ry järjestää jäsenilleen limumyyntiä, ATK:ta sekä luettavia lehtiä. Kerhohuoneelta löytyy jäsenistön käyttöön telkkari ChromeCastilla, kaiuttimet, vahvistin sekä rauhallinen työskentelytila. Myös kahvinkeitin sekä grillauvälineitä löytyy.</p>

<h3>Limumyynti</h3>

<p>Kolottaako hammasta, maistuuko kylmä Dr. Pepper tai A&amp;W? Nouda kerhohuoneelta omasi, tarjolla juomia edulliseen hintaan.</p>

<p>Tällä hetkellä tarjoamme jäsenistön pyynnöstä seuraavia limuja 2e ja 1.5e hintaan.</p>

<ul>
    <li>Power Volt Cola</li>
    <li>Dr. Pepper</li>
    <li>A&amp;W</li>
    <li>7 Up Cherry</li>
    <li>Vanilla Coca-Cola</li>
</ul>

<h3>ATK-palvelut</h3>

<p>Kerhohuoneelta löytyvät langattomat ModeemiG ja ModeemiN verkot. Kysy irkissä #modeemi@IRCnet salasanaa.</p>

<p>Laaja <a href="{% url 'views.laitteisto' %}">laitteistovalikoima</a> vaatii <a href="{% url 'views.jaseneksi' %}">käyttäjätunnuksen hakemisen</a>. Käyttäjätunnusta varten sinulla pitää olla käyttöoikeus FUNETin verkkoon.</p>

<p>Modeemi tarjoaa myös vikavirtasuojattua <a href="{% url 'views.backup' %}">backup-palvelua</a> nopeiden yhteyksien päässä!</p>
{% endblock %}