{% extends "base.html" %}
{% block content %}

<h1>Rekisteriseloste</h1>

<br />

<ol id="register">
    <li><h4>Rekisterinpitäjä</h4></li>
    <ul>
        <li>Nimi: Modeemi ry</li>
        <li>Osoite: Modeemi ry co/TTY, PL553, 33720 Tampere</li>
    </ul>
    <li><h4>Rekisteriasioista vastaava henkilö</h4></li>
    <ul>
        <li>Sähköposti: hallitus@modeemi.fi</li>
    </ul>
    <li><h4>Rekisterin nimi</h4></li>
    <ul>
        <li>Modeemi ryn jäsenrekisteri</li>
    </ul>
    <li><h4>Henkilötietojen käsittelyn tarkoitus</h4></li>
    <ul>
        <li>Rekisteristä ilmenee yhdistyksen sen hetkiset jäsenet joille voidaan tarjota yhdistyksen palveluja.</li>
    </ul>
    <li><h4>Rekisterin tietosisältö</h4></li>
    <ul>
        <li>Rekisterissä voi olla seuraavia tietoja:</li>
        <ul>
            <li>Henkilön nimi, kotikunta ja sähköpostiosoite</li>
            <li>Henkilön käyttäjätunnukset Modeemin tietojärjestelmiä varten</li>
            <li>Jäsenmaksun tilanne kullekin vuodelle, mahdollinen ainaisjäsenyys, fyysisen avaimen haltijuus kerhon tiloihin, virtuaaliavaimen haltijuus.</li>
        </ul>
    </ul>
    <li><h4>Säännönmukaiset tietolähteet</h4></li>
    <ul>
        <li>Tiedot tulevat henkilöltä itseltään ja maksuihin liittyvät tiedot saadaan pankilta.</li>
    </ul>
    <li><h4>Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle</h4></li>
    <ul>
        <li>Tietoja ei luovuteta yhdistyksen ulkopuolelle eikä EU:n tai Euroopan talousalueen ulkopuolelle.</li>
    </ul>
    <li><h4>Rekisteröidyn oikeudet</h4></li>
    <ul>
        <li>Tarkastus- ja oikaisuoikeus</li>
        <ul>
            <li>Rekisteröidyllä on oikeus tarkistaa häntä koskevat rekisteriin tallennetut tiedot. Tarkastusoikeutta koskevat yhteydenotot tulee tehdä kirjallisina ja allekirjoitettuna kohdassa 1. mainittuun osoitteeseen.</li>
            <li>Jos rekisteröidyissä tiedoissa on virheitä, rekisteröity voi esittää kohdassa 2. mainitulle rekisteriasioista vastaavalle taholle virheen korjaamista koskevan pyynnön..</li>
        </ul>
    </ul>
    <li><h4>Rekisterin suojauksen periaatteet</h4></li>
    <ul>
        <li>Manuaalinen sisältö</li>
        <ul>
            <li>Jäsenlomakkeet hävitetään viiveellä käsittelyn jälkeen</li>
        </ul>
        <li>Sähköisesti tallennetut	tiedot</li>
        <ul>
            <li>Jäsenrekisteri on suojattu käyttäjätunnuksella ja salasanalla jollaiset on vain järjestelmien ylikäyttäjillä.</li>
            <li>Teknisistä syistä johtuen kaikilla Modeemin käyttäjätunnuksen omaavilla saattaa olla pääsy näkemään joidenkin muiden jäsenten nimet ja käyttäjätunnukset sekä salasanan kryptologinen tiiviste-esitysmuoto (crypt).</li>
        </ul>
    </ul>
 </ol>
{% endblock %}
