{% extends "base.html" %}
{% block content %}

<h1>Säännöt</h1>
<p><a href="en">English translation of the rules</a> (not legally binding).</p>
<p>Voimassaolon alku: 09.12.2024 07:59:02</p>

<br />

<ol>
<li>Yhdistyksen nimi ja kotipaikka  <ol>
<li>Yhdistyksen nimi on Modeemi ry. Yhdistyksen kotipaikka on Tampere.  </li>
</ol>
</li>
<li>Yhdistyksen tarkoitus ja toiminnan laatu  <ol>
<li>Yhdistyksen tarkoituksena on toimia tietotekniikasta kiinnostuneiden henkilöiden yhdyssiteenä.  </li>
<li>Yhdistyksen tarkoituksena ei ole tuottaa jäsenistölle taloudellista etua, eikä sen toiminta muutenkaan saa muodostua pääasiallisesti taloudelliseksi.  </li>
<li>Tarkoituksensa toteuttamiseksi yhdistys:  <ol>
<li>julkaisee ja välittää alan materiaalia,  </li>
<li>järjestää kokouksia, koulutus- ja neuvottelutilaisuuksia sekä tutustumismatkoja jäsenilleen ja  </li>
<li>toimii muilla vastaavilla tavoilla.  </li>
</ol>
</li>
<li>Yhdistyksen toimikausi on kalenterivuosi.  </li>
</ol>
</li>
<li>Jäsenet  <ol>
<li>Yhdistyksen jäseniä ovat varsinaiset jäsenet, ainaisjäsenet ja kunniajäsenet.  </li>
<li>Yhdistyksen jäseneksi voi liittyä jokainen, joka hyväksyy yhdistyksen tarkoituksen ja säännöt.  </li>
<li>Varsinaiset jäsenet ja ainaisjäsenet hyväksyy yhdistyksen hallitus. Kunniajäsenet hyväksyy yhdistyksen kokous.  </li>
<li>Kunniajäseneksi yhdistys voi kutsua yhdistyksen pyrkimyksiä ansiokkaasti edistäneen henkilön, jos ainakin kolme neljäsosaa (3/4) yhdistyksen kokouksessa läsnäolevista yhdistyksen jäsenistä kannattaa hallituksen tekemää kunniajäsenehdotusta.  </li>
<li>Ainaisjäsen on yhdistyksen jäseneksi hyväksytty henkilö, joka on suorittanut ainaisjäsenyytensä hyväksymistoimikaudelle määritellyn ainaisjäsenmaksun. Ainaisjäsen säilyttää jäsenyytensä yhdistyksen purkautumiseen tai lakkauttamiseen asti ellei hallitus päätöksellään erota kyseistä jäsentä tai jäsen itse eroa.  </li>
<li>Yhdistyksen kaikilla kuluvan toimikauden jäsenmaksun maksaneilla jäsenillä sekä ainaisjäsenillä on yhtäläinen äänioikeus. Kaikki äänioiketetut ovat vaalikelpoisia.  </li>
</ol>
</li>
<li>Jäsenen eroaminen ja erottaminen  <ol>
<li>Jäsenellä on oikeus erota yhdistyksestä ilmoittamalla siitä kirjallisesti yhdistyksen hallitukselle tai sen puheenjohtajalle tai pyytämällä eroamisen merkittäväksi pöytäkirjaan yhdistyksen kokouksessa.  </li>
<li>Hallitus voi erottaa jäsenen yhdistyksestä, jos jäsen on jättänyt täyttämättä ne velvoitukset, joihin hän on yhdistykseen liittymällä sitoutunut tai on menettelyllään yhdistyksessä tai sen ulkopuolella huomattavasti vahingoittanut yhdistystä tai ei enää täytä laissa taikka yhdistyksen säännöissä mainittuja jäsenyyden ehtoja. Hallitus voi myös käyttää pienemmistä rikkeistä lievempiä kurinpitotoimia (varoitus, jäsenpalveluiden evääminen, porttikielto yhdistyksen tapahtumiin).  </li>
<li>Varsinaisen jäsenen katsotaan eronneen yhdistyksestä jos hän on jättänyt edellisen toimikauden jäsenmaksunsa maksamatta kuluvan toimikauden vuosikokoukseen mennessä.  </li>
</ol>
</li>
<li>Jäsenmaksut  <ol>
<li>Varsinaisilta jäseniltä perittävän jäsenmaksun sekä ainaisjäsenmaksun suuruudesta päättää vaalikokous.  </li>
<li>Varsinainen jäsenmaksu maksetaan toimikaudeksi.  </li>
<li>Ainaisjäsenmaksu on kertaluontoinen.  </li>
</ol>
</li>
<li>Hallitus  <ol>
<li>Yhdistyksen asioita hoitaa hallitus, johon kuuluu yhdistyksen vaalikokouksessa valitut puheenjohtaja ja 3-6 muuta varsinaista jäsentä.  </li>
<li>Hallitus valitsee keskuudestaan:  <ol>
<li>varapuheenjohtajan  </li>
<li>sihteerin  </li>
<li>rahastonhoitajan  </li>
<li>muita tarvittavia hallituksen jäseniä  </li>
</ol>
</li>
<li>Hallituksen tehtäviin kuuluvat:  <ol>
<li>yhdistyksen päätösten toimeenpano ja toiminnan johtaminen  </li>
<li>yhdistyksen kokouksissa käsiteltävien asioiden valmistelu ja esittely  </li>
<li>yhdistyksen talouden hoitaminen  </li>
<li>yhdistyksen talousarvion ja toimintasuunnitelman laadinta  </li>
<li>yhdistyksen edustuksesta päättäminen  </li>
<li>toimikuntien ja toimihenkilöiden toiminnan valvominen  </li>
<li>toimikuntien toimintasuunnitelmien ja -kertomusten hyväksyminen  </li>
<li>yhdistyksen toimintakertomuksen laatiminen  </li>
<li>yhdistyksen jäsenten hyväksyminen  </li>
<li>yhdistyksen jäsenluettelon ylläpitäminen  </li>
<li>yhdistyksen toiminnan kehittäminen  </li>
</ol>
</li>
<li>Hallituksen toimikausi on kalenterivuosi.  </li>
<li>Hallitus kokoontuu puheenjohtajan - tai hänen estyneenä ollessaan varapuheenjohtajan - kutsusta, kun he katsovat siihen olevan aihetta tai kun vähintään kaksi (2) hallituksen jäsenistä sitä vaatii.  </li>
<li>Hallituksen kokous on päätösvaltainen, jos kaikille sen jäsenille on kokouksesta ilmoitettu ja vähintään puolet (1/2) hallituksen jäsenistä puheenjohtaja tai varapuheenjohtaja mukaanluettuna on läsnä. Päätökset tehdään yksinkertaisella ääntenenemmistöllä. Äänten mennessä tasan ratkaisee puheenjohtajan mielipide, vaaleissa kuitenkin arpa.  </li>
<li>Hallituksen kokouksista pidetään pöytäkirjaa, jonka kaksi (2) hallituksen jäsentä tai hallituksen kokous tarkastaa.  </li>
</ol>
</li>
<li>Oltermanni, toimikunnat ja muut toimihenkilöt  <ol>
<li>Yhdistyksen vaalikokous valitsee yhdistyksen neuvonantajaksi oltermannin yhdeksi (1) toimikaudeksi kerrallaan.  </li>
<li>Oltermannilla on yhdistyksen hallituksen kokouksissa läsnäolo- ja puheoikeus.  </li>
<li>Tarpeen vaatiessa voi hallitus tai yhdistyksen kokous valita hallituksen avuksi toimihenkilöitä ja toimikuntia. Hallitus voi antaa tehtäviä jäsenille näiden suostumuksella.  </li>
<li>Toimihenkilöt ja toimikunnat valitaan toimikaudeksi kerrallaan, ellei tehtävä liity jonkin määrätyn suunnitelman hoitamiseen tai toteuttamiseen, jolloin toimihenkilöä tai toimikuntaa valittaessa voidaan päättää toisin.  </li>
<li>Yhdistyksen kokous tai hallitus voi vapauttaa nimittämänsä toimihenkilön kesken toimikautta. Hänen tilalleen voidaan valita uusi toimihenkilö jäljelläolevaksi toimikaudeksi. Jos kysymyksessä on hallituksen jäsen, on asia mainittava kokouskutsussa.  </li>
</ol>
</li>
<li>Yhdistyksen nimen kirjoittaminen  <ol>
<li>Yhdistyksen nimen kirjoittaa hallituksen puheenjohtaja, varapuheenjohtaja, sihteeri tai rahastonhoitaja, kaksi yhdessä.  </li>
<li>Yhdistyksen hallitus voi antaa päätöksellään yhdistyksen nimenkirjoitusoikeuden yhdelle (1) hallituksen jäsenelle.  </li>
</ol>
</li>
<li>Talous, tilikausi ja toiminnantarkastus  <ol>
<li>Yhdistyksen tilikausi on kalenterivuosi.  </li>
<li>Tilinpäätös tarvittavine asiakirjoineen ja hallituksen vuosikertomus on annettava toiminnantarkastajille viimeistään kolme viikkoa ennen vuosikokousta. Toiminnantarkastajien tulee antaa kirjallinen lausuntonsa viimeistään viikkoa ennen vuosikokousta hallitukselle. Kirjanpito ja hallituksen pöytäkirjat on luovutettava muulloinkin toiminnantarkastajien niitä vaatiessa.  </li>
<li>Yhdistyksen taloudenhoitoa valvovat toiminnantarkastajat.  </li>
</ol>
</li>
<li>Yhdistyksen kokoukset  <ol>
<li>Yhdistyksen kokoukset kutsuu koolle hallitus. Kokouksen aika, paikka ja käsiteltävät asiat on ilmoitettava vähintään seitsemän (7) vuorokautta ennen kokousta jäsenistölle yhdistyksen verkkosivuilla.  </li>
<li>Yhdistys pitää vuosittain kaksi varsinaista kokousta.  </li>
<li>Yhdistyksen vuosikokous pidetään maaliskuussa ja vaalikokous lokakuussa.  </li>
<li>Ylimääräinen kokous pidetään, kun yhdistyksen kokous niin päättää, kun hallitus katsoo siihen olevan aihetta tai kun vähintään yksi kymmenesosa (1/10) yhdistyksen äänioikeutetuista jäsenistä tai vähintään kymmenen (10) yhdistyksen äänioikeutettua jäsentä sitä ilmoittamansa asian käsittelyä varten kirjallisesti vaatii. Kokous tulee pitää kahdenkymmenenyhden (21) vuorokauden kuluessa siitä, kun vaatimus on hallitukselle esitetty.  </li>
<li>Yhdistyksen kokouksissa on jokaisella äänioikeutetulla yhdistyksen jäsenellä yksi (1) ääni. Äänioikeutta ei voi käyttää asiamiehen välityksellä.  </li>
<li>Yhdistyksen kokous on päätösvaltainen, jos koollekutsuminen on tapahtunut sääntöjen mukaisesti.  </li>
<li>Päätökset tehdään, ellei näissä säännöissä toisin määrätä, yksinkertaisella äänten enemmistöllä. Äänten mennessä tasan ratkaisee kokouksen puheenjohtajan mielipide, vaaleissa kuitenkin arpa.  </li>
<li>Yhdistyksen kokouksessa tehty päätös voidaan purkaa vähintään kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä. Päätöksen purkamisasia on ilmoitettava kokouskutsussa.  </li>
<li>Yhdistyksen kokouksissa on läsnäolo- ja puheoikeus kaikilla yhdistyksen jäsenillä. Kokous voi tarvittaessa myöntää läsnäolo- ja puheoikeuden yhdistykseen kuulumattomalle henkilölle.  </li>
<li>Yhdistyksen kokouksen pöytäkirjan tarkastavat kaksi (2) kokouksessa valittua pöytäkirjantarkastajaa kahden (2) viikon kuluessa kokouksesta. Tarpeen vaatiessa voidaan pöytäkirjan tarkastus suorittaa itse kokouksessa.  </li>
<li>Mikäli yhdistyksen jäsen haluaa saada jonkin asian yhdistyksen kokouksen käsiteltäväksi, on hänen siitä kirjallisesti ilmoitettava hallitukselle niin hyvissä ajoin, että asia voidaan sisällyttää kokouskutsuun.  </li>
</ol>
</li>
<li>Varsinaiset kokoukset  <ol>
<li>Yhdistyksen vuosikokouksessa käsitellään seuraavat asiat:  <ol>
<li>kokouksen avaus  </li>
<li>valitaan kokouksen  <ul>
<li>puheenjohtaja,  </li>
<li>sihteeri,  </li>
<li>kaksi (2) pöytäkirjantarkastajaa ja  </li>
<li>kaksi (2) ääntenlaskijaa  </li>
</ul>
</li>
<li>todetaan kokouksen laillisuus ja päätösvaltaisuus  </li>
<li>hyväksytään kokouksen työjärjestys  </li>
<li>esitellään tilinpäätös, vuosikertomus ja toiminnantarkastajien lausunto  </li>
<li>päätetään tilinpäätöksen vahvistamisesta ja tili- ja vastuuvapauden myöntämisestä hallitukselle ja muille tili- ja vastuuvelvollisille  </li>
<li>käsitellään muut kokouskutsussa mainitut asiat  </li>
</ol>
</li>
<li>Yhdistyksen vaalikokouksessa käsitellään seuraavat asiat:  <ol>
<li>kokouksen avaus  </li>
<li>valitaan kokouksen  <ul>
<li>puheenjohtaja,  </li>
<li>sihteeri,  </li>
<li>kaksi (2) pöytäkirjantarkastajaa ja  </li>
<li>kaksi (2) ääntenlaskijaa  </li>
</ul>
</li>
<li>todetaan kokouksen laillisuus ja päätösvaltaisuus  </li>
<li>hyväksytään kokouksen työjärjestys  </li>
<li>valitaan tulevan toimikauden hallituksen puheenjohtaja ja 3-6 hallituksen jäsentä  </li>
<li>valitaan tulevan toimikauden oltermanni ja muut toimihenkilöt  </li>
<li>valitaan tulevalle toimikaudelle yksi (1) toiminnantarkastaja ja hänelle yksi (1) varahenkilö  </li>
<li>päätetään seuraavan toimikauden jäsenmaksun ja ainaisjäsenmaksun suuruudesta  </li>
<li>esitetään seuraavan toimikauden toimintasuunnitelma ja talousarvio  </li>
<li>esitetään tilannekatsaus kuluvan toimikauden toimintasuunnitelman ja talousarvion toteutumisesta  </li>
<li>käsitellään muut kokouskutsussa mainitut asiat  </li>
</ol>
</li>
</ol>
</li>
<li>Sääntöjen muuttaminen ja yhdistyksen purkaminen  <ol>
<li>Päätös sääntöjen muuttamisesta tai yhdistyksen purkamisesta on tehtävä yhdistyksen kokouksessa vähintään kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä. Kokouskutsussa on mainittava sääntöjen muuttamisesta tai yhdistyksen purkamisesta.  </li>
<li>Mikäli yhdistyksen kokous päättää yhdistyksen purkamisesta, tulee purkaminen hyväksyä vielä toisessa yhdistyksen kokouksessa kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä. Toinen kokous täytyy järjestää vähintään kolme (3) kuukautta ja enintään kuusi (6) kuukautta sen kokouksen jälkeen jossa yhdistyksen purkaminen on ensimmäisen kerran hyväksytty. Mikäli toista kokousta ei pidetä tässä ajassa, alustava purkamisen päätös peruuntuu. Tämän toisen äänestyksen jälkeen yhdistys todetaan puretuksi. Kokouskutsussa on mainittava yhdistyksen lopullisesta purkamisesta.  </li>
<li>Yhdistyksen purkautuessa käytetään yhdistyksen varat yhdistyksen tarkoituksen edistämiseen purkamisesta päättävän kokouksen määrittelemällä tavalla. Yhdistyksen tullessa lakkautetuksi käytetään varat samaan tarkoitukseen.</li>
</ol>
</li>
</ol>

{% endblock %}
