{% extends "base.html" %}
{% load markdownify %}
{% block content %}

<h1>Rules</h1>
<p>Valid since: 09.12.2024 07:59:02</<p><br />
<p><b>Only the Finnish version is legally binding, this is a best effort english translation**</b></p>

<br />
{% markdownify %}

# Rules

1. Name and domicile  
   1. The association’s name is Modeemi ry. Yhdistyksen kotipaikka on Tampere.  
2. Purpose and quality of operation  
   1. The purpose of the association is to connect people who are interested in information technology.  
   2. The purpose of the association is not to acquire financial benefits for its members, and its purpose must not become purely economic.  
   3. To accomplish its purpose, the association:  
      1. publishes and distributes relevant material,  
      2. organizes meetings, education and discussion events, and excursions for its members, and  
      3. operates in other comparable ways.  
   4. The operating term of the association is one calendar year.  
3. Members  
   1. The association’s members are regular members, lifetime members and honorary members.  
   2. Anyone who approves the purpose and rules of the association may become a member.  
   3. Regular members and lifetime members are approved by the association’s board. Honorary members are approved by the association’s general assembly.  
   4. The association can invite persons who have meritoriously advanced the aims of the association to become honorary members, if at least three quarters (3/4) of the members present in the association’s general assembly support the honorary membership proposal made by the board.  
   5. A lifetime member is an accepted member of the association who has paid the lifetime membership fee as specified for the current association term. A lifetime member remains a member of the association until the association is dissolved or terminated, unless the board decides to expel the member or the member resigns from the association themselves.  
   6. All association members who have paid the current term’s membership fee and lifetime members have the equal right to vote. All who are eligible to vote are also eligible to stand in elections.  
4. Resignation and expelling of members  
   1. A member has the right to resign from the association by notifying the board or chairperson of the association in written form or by asking the resignation to be written down in the minutes of an association meeting.  
   2. The board may expel a member from the association, if the member has failed to fulfill the obligations they have committed themselves to when joining the association, or substantially damaged the association, either through actions within or outside the association, or they do not fulfill anymore the terms of the membership mentioned in law or the rules of the association. The board may also use less severe disciplinary methods for minor offences (warning, withholding of members’ services, ban from association events).  
   3. A regular member is seen to have resigned from the association if they have not paid the membership fee for the current term before the current term’s spring general assembly.  
5. Membership fee  
   1. The size of the membership fee for regular members as well as the fee for lifetime membership is decided by the autumn general assembly.  
   2. The regular membership fee is paid for one term.  
   3. The lifetime membership fee is paid once.  
6. Board  
   1. The operations of the association are executed by the board, which consists of the chairperson and 3-6 other regular members chosen by the autumn general assembly.  
   2. The board chooses from among its members:  
      1. a vice-chairperson  
      2. a secretary  
      3. a treasurer  
      4. other necessary board positions  
   3. The responsibilities of the board include:  
      1. execution of the association’s decisions and the management of its operations  
      2. preparation and presentation of matters to be considered by the association’s meetings  
      3. managing the association’s finances  
      4. the drafting of the association’s budget and action plan  
      5. deciding the representation of the association  
      6. supervising the operation of committees and officials  
      7. approving the action plans and operations reports for committees  
      8. drafting the operations report for the association  
      9. approving of new members  
      10. maintenance of the associations’ membership list  
      11. development of association activities  
   4. The term of the board is one calendar year.  
   5. The board convenes at the invitation of the chairperson \- or should they be prevented from doing so, the vice-chairperson \- or if at least two (2) members of the board demand it.  
   6. The meeting of the board is quorate if all the members of the board have been notified of it and if at least one half (1/2) of all board members, including the chairperson or vice-chairperson are present. Decisions are made by majority vote. Should the result be tied, the chairperson’s position is decisive, except in elections, which are decided by lot.  
   7. Minutes are kept of board meetings, which are verified by two (2) members of the board or by a meeting of the board.  
7. Alderman, committees and other officials  
   1. The association’s autumn general assembly appoints an alderman to advise the association for one (1) term at a time.  
   2. The alderman has the right to attend and speak in board meetings.  
   3. The board or a general assembly may appoint officials and committees to aid the board. The board may assign tasks to association members with their consent.  
   4. Officials and committees are chosen for one term at a time, unless the assigned task relates to a definite plan, in which case it is possible to appoint the official or committee for a different length of time.  
   5. A general assembly or a meeting of the board may dismiss an official from their duties during the official’s term. A new official may be chosen to replace them for the remaining duration of the term. If the official in question is a member of the board, the matter of dismissal must be mentioned in the invitation to the meeting.  
8. Signing the name of the association  
   1. The name of the association is signed by the chairperson of the board, the vice-chairperson, the secretary, or the treasurer, if at least two of these are present.  
   2. The board may decide to grant the right to sign for the association to one (1) member of the board.  
9. Finances, fiscal year and audit  
   1. The fiscal year of the association is one calendar year.  
   2. The financial statement with all required documents and the yearly report of the board must be submitted to the auditors at least three weeks before the spring general assembly. The auditors must submit their written statement to the board at least one week before the assembly. Accounting and minutes of board meetings must be submitted to the auditors at any time should they demand it.  
   3. The management of the association is overseen by the auditors.  
10. General assemblies  
    1. General assemblies are convened by the board. The date, location and agenda of the assembly has to be announced to the members by email at least seven (7) days before the assembly.  
    2. The association holds two regular assemblies yearly.  
    3. The association’s spring general assembly is held in March and the autumn general assembly is held in October.  
    4. An additional assembly shall be held if a general assembly decides to do so, if the board sees fit to hold one, or if at least one tenth (1/10) or at least ten (10) of the association’s voting members demand so in writing. The additional assembly must be held within twenty-one (21) days of the demand being submitted to the board.  
    5. All voting members of the association have one (1) vote in general assemblies. A member may not vote by proxy.  
    6. A general assembly is quorate if it has been convened according to the rules.  
    7. Decisions are made by majority vote unless specified otherwise in the rules. Should the result be tied, the position of the chairperson of the assembly is decisive, except in elections, which are decided by lot.  
    8. A decision made by a general assembly may be cancelled by a three-quarters (3/4) vote. The matter of cancellation must be notified in the invitation to the general assembly.  
    9. All members of the association have the right to attend and speak in a general assembly. The assembly may also grant the right to attend and speak to a non-member if necessary.  
    10. The minutes of a general assembly are verified by two (2) persons elected by the assembly within two (2) weeks of the assembly. The verification of the minutes may also be carried out in the assembly itself if necessary.  
    11. If a member of the association wishes to present an issue for the general assembly, they will have to notify the board of it in writing so that it may be included in the invitation to the general assembly.  
11. Regular general assemblies  
    1. The spring general assembly includes the following:  
       1. opening of the assembly  
       2. election of the assembly’s  
          * chairperson,  
          * secretary,  
          * two (2) persons to verify the minutes and  
          * two (2) tellers  
       3. declaration of the legality and quorum of the assembly  
       4. accepting the agenda of the assembly  
       5. presentation of the financial statement, yearly statement of operations and the auditors’ statement  
       6. deciding of discharging the board and other accountable persons and granting them freedom from responsibility  
       7. addressing of other matters mentioned in the invitation to the assembly  
    2. The autumn general assembly includes the following:  
       1. opening of the assembly  
       2. election of the assembly’s  
          * chairperson,  
          * secretary,  
          * two (2) persons to verify the minutes and  
          * two (2) tellers  
       3. declaration of the legality and quorum of the assembly  
       4. accepting of the agenda of the assembly  
       5. election of the chairperson and 3-6 members of the board for the next term  
       6. election of the alderman and other officials for the next term  
       7. election of one (1) auditor and one (1) deputy auditor for the next term  
       8. deciding the size of the membership fee and lifetime membership fee for the next term  
       9. presenting of the action plan and budget for the next term  
       10. presenting of a stocktaking of the realization of the action plan and budget for the current term  
       11. addressing of other matters mentioned in the invitation to the assembly  
12. Amending the rules and dissolving the association  
    1. The decision of changing the rules must be made in the association’s general assembly by decision of at least three fourths (3/4) of all cast votes. The amending of the rules or the dissolving of the association must be mentioned in the invitation to the assembly.  
    2. Should the general assembly decide to dissolve the association, the dissolution must be approved in a second assembly with at least three fourths (3/4) of all cast votes. The second assembly must be held within three (3) months of the assembly where the dissolving of the association was first approved. The association is considered dissolved after this second vote. The final dissolution of the association must be mentioned in the invitation to the general assembly.  
    3. If the association is dissolved, the assets of the association are to be used to advance the association’s purpose in a way decided by the dissolving general assembly. If the association is terminated, its association will be used for the same purpose.
{% endmarkdownify %}

<br />

{% endblock %}
