{% extends "base.html" %}
{% block content %}
<h2>Säännöt</h2>

<h3>1. Yhdistyksen nimi ja kotipaikka</h3>

<p>1.1 Yhdistyksen nimi on Modeemi ry. Yhdistyksen kotipaikka on Tampere. </p>

<h3>2. Yhdistyksen tarkoitus ja toiminnan laatu</h3>

<p>2.1 Yhdistyksen tarkoituksena on toimia tietotekniikasta kiinnostuneiden henkilöiden yhdyssiteenä sekä:<br>
2.2 Yhdistyksen tarkoituksena ei ole tuottaa jäsenistölle taloudellista etua, eikä sen toiminta muutenkaan saa muodostua pääasiallisesti taloudelliseksi<br>
2.3 Tarkoituksensa toteuttamiseksi yhdistys:<br>
- julkaisee ja välittää alan materiaalia<br>
- järjestää kokouksia, koulutus- ja neuvottelutilaisuuksia sekä tutustumismatkoja jäsenilleen<br>
- toimii muilla vastaavilla tavoilla<br>
2.4 Yhdistyksen toimikausi on kalenterivuosi.</p>

<h3>3. Jäsenet</h3>

<p>3.1 Yhdistyksen jäseniä ovat varsinaiset jäsenet, ainaisjäsenet ja kunniajäsenet.<br>
3.2 Yhdistyksen jäseneksi voi liittyä jokainen, joka hyväksyy yhdistyksen tarkoituksen ja säännöt.<br>
3.3 Varsinaiset jäsenet ja ainaisjäsenet hyväksyy yhdistyksen hallitus. Kunniajäsenet hyväksyy yhdistyksen kokous.<br>
3.4 Kunniajäseneksi yhdistys voi kutsua yhdistyksen pyrkimyksiä ansiokkaasti edistäneen henkilön, jos ainakin kolme neljäsosaa (3/4) yhdistyksen kokouksessa läsnäolevista yhdistyksen jäsenistä kannattaa hallituksen tekemää kunniajäsenehdotusta.<br>
3.5 Ainaisjäsen on yhdistyksen jäseneksi hyväksytty henkilö suorittanut ainaisjäsenyytensä hyväkymistoimikaudelle määritellyn ainaisjäsenmaksun. Ainaisjäsen säilyttää jäsenyytensä yhdistyksen purkautumiseen tai lakkauttamiseen asti ellei hallitus päätöksellään erota kyseistä jäsentä tai jäsen itse eroa.<br>
3.6 Yhdistyksen kaikilla kuluvan toimikauden jäsenmaksun maksaneilla jäsenillä sekä ainaisjäsenillä on yhtäläinen äänioikeus. Kaikki 
äänioiketetut ovat vaalikelpoisia.<br></p>

<p>4 Jäsenen eroaminen ja erottaminen</p>

<p>4.1 Jäsenellä on oikeus erota yhdistyksestä ilmoittamalla siitä kirjallisesti yhdistyksen hallitukselle tai sen puheenjohtajalle tai pyytämällä eroamisen merkittäväksi pöytäkirjaan yhdistyksen kokouksessa.<br>
4.2 Hallitus voi erottaa jäsenen yhdistyksestä, jos jäsen on jättänyt täyttämättä ne velvoitukset, joihin hän on yhdistykseen liittymällä sitoutunut tai on menettelyllään yhdistyksessä tai sen ulkopuolella huomattavasti vahingoittanut yhdistystä tai ei enää täytä laissa taikka yhdistyksen säännöissä mainittuja jäsenyyden ehtoja.<br>
4.3 Varsinaisen jäsenen katsotaan eronneen yhdistyksestä jos hän on jättänyt edellisen toimikauden jäsenmaksunsa maksamatta kuluvan toimikauden vuosikokoukseen mennessä.<br></p>

<h3>5. Jäsenmaksut</h3>

<p>5.1 Varsinaisilta jäseniltä perittävän jäsenmaksun sekä ainaisjäsenmaksun suuruudesta päättää vaalikokous.<br>
5.2 Varsinaisen jäsenmaksu maksetaan toimikaudeksi.<br>
5.3 Ainaisjäsenmaksu on kertaluontoinen.<br></p>

<h3>6. Hallitus</h3>

<p>6.1 Yhdistyksen asioita hoitaa hallitus, johon kuuluu yhdistyksen vaalikokouksessa valitut puheenjohtaja ja 3-6 muuta varsinaista jäsentä sekä 1-2 varajäsentä.<br>
6.2 Hallitus valitsee keskuudestaan:<br>
- varapuheenjohtajan<br>
- sihteerin<br>
- rahastonhoitajan<br>
muita tarvittavia toimihenkilöitä<br>
6.3 Hallituksen tehtäviin kuuluvat:<br>
- yhdistyksen päätösten toimeenpano ja toiminnan johtaminen<br>
- yhdistyksen kokouksissa käsiteltävien asioiden valmistelu ja esittely<br>
- yhdistyksen talouden hoitaminen<br>
- yhdistyksen talousarvion ja toimintasuunnitelman laadinta<br>
- yhdistyksen edustuksesta päättäminen<br>
- toimikuntien ja toimihenkilöiden toiminnan valvominen<br>
- toimikuntien toimintasuunnitelmien ja -kertomusten hyväksyminen<br>
- yhdistyksen toimintakertomuksen laatiminen<br>
- yhdistyksen jäsenten hyväksyminen<br>
- yhdistyksen jäsenluettelon ylläpitäminen<br>
- yhdistyksen toiminnan kehittäminen<br>
6.4 Hallituksen toimikausi on kalenterivuosi.<br>
6.5 Hallitus kokoontuu puheenjohtajan - tai hänen estyneenä ollessaan varapuheenjohtajan - kutsusta, kun he katsovat siihen olevan aihetta tai kun vähintään kaksi (2) hallituksen jäsenistä sitä vaatii.<br>
6.6 Hallituksen kokous on päätösvaltainen, jos kaikille sen jäsenille on kokouksesta ilmoitettu ja vähintään puolet (1/2) hallituksen jäsenistä puheenjohtaja tai varapuheenjohtaja mukaanluettuna on läsnä. Päätökset tehdään yksinkertaisella ääntenenemmistöllä. Äänten mennessä tasan ratkaisee puheenjohtajan mielipide, vaaleissa kuitenkin arpa.<br>
6.7 Hallituksen kokouksista pidetään pöytäkirjaa, jonka kaksi (2) hallituksen jäsentä tai hallituksen kokous tarkastaa.</p>

<h3>7. Oltermanni, toimikunnat ja muut toimihenkilöt</h3>

<p>7.1 Yhdistyksen vaalikokous valitsee yhdistyksen neuvonantajaksi oltermannin yhdeksi (1) toimikaudeksi kerrallaan. <br>
7.2 Oltermannilla on yhdistyksen hallituksen kokouksissa läsnäolo- ja puheoikeus.<br>
7.3 Tarpeen vaatiessa voi hallitus tai yhdistyksen kokous valita hallituksen avuksi toimihenkilöitä ja toimikuntia. Hallitus voi antaa tehtäviä jäsenille näiden suostumuksella.<br>
7.4 Toimihenkilöt ja toimikunnat valitaan toimikaudeksi kerrallaan, ellei tehtävä liity jonkin määrätyn suunnitelman hoitamiseen tai 
toteuttamiseen, jolloin toimihenkilöä tai toimikuntaa valittaessa voidaan päättää toisin.<br>
7.5 Yhdistyksen kokous tai hallitus voi vapauttaa nimittämänsä toimihenkilön kesken toimikautta. Hänen tilalleen voidaan valita uusi toimihenkilö jäljelläolevaksi toimikaudeksi. Jos kysymyksessä on hallituksen jäsen, on asia mainittava kokouskutsussa.<br></p>

<h3>8. Yhdistyksen nimen kirjoittaminen</h3>

<p>8.1 Yhdistyksen nimen kirjoittaa hallituksen puheenjohtaja, varapuheenjohtaja, sihteeri tai rahastonhoitaja, kaksi yhdessä.<br>
8.2 Yhdistyksen hallitus voi nimettyä tarkoitusta varten antaa päätöksellään yhdistyksen nimenkirjoitusoikeuden yhdelle (1) hallituksen jäsenelle.<br></p>

<h3>9. Talous, tilikausi ja tilintarkastus</h3>

<p>9.1 Yhdistyksen tilikausi on kalenterivuosi.<br>
9.2 Tilinpäätös tarvittavine asiakirjoineen ja hallituksen vuosikertomus on annettava tilintarkastajille viimeistään kolme viikkoa ennen vuosikokousta. Tilintarkastajien tulee antaa kirjallinen lausuntonsa viimeistään viikkoa ennen vuosikokousta hallitukselle. Kirjanpito ja hallituksen pöytäkirjat on luovutettava muulloinkin tilintarkastajien niitä vaatiessa.<br>
9.3 Yhdistyksen taloudenhoitoa valvovat tilintarkastajat.<br></p>

<h3>10. Yhdistyksen kokoukset</h3>

<p>10.1 Yhdistyksen kokoukset kutsuu koolle hallitus. Kokouksen aika, paikka ja käsiteltävät asiat on ilmoitettava vähintään seitsemän (7) vuorokautta ennen kokousta yhdistyksen virallisella ilmoitustaululla.<br>
10.2 Yhdistys pitää vuosittain kaksi varsinaista kokousta.<br>
10.3 Yhdistyksen vuosikokous pidetään maaliskuussa ja vaalikokous lokakuussa.<br>
10.4 Ylimääräinen kokous pidetään, kun yhdistyksen kokous niin päättää, kun hallitus katsoo siihen olevan aihetta tai kun yhdistyksen jäsenistä vähintään yksi kymmenesosa (1/10) sitä ilmoittamansa asian käsittelyä varten kirjallisesti vaatii. Kokous tulee pitää kahdenkymmenenyhden (21) vuorokauden kuluessa siitä, kun vaatimus on hallitukselle esitetty.<br>
10.5 Yhdistyksen kokouksissa on jokaisella äänioikeutetulla yhdistyksen jäsenellä yksi (1) ääni. Äänioikeutta ei voi käyttää 
asiamiehen välityksellä.<br>
10.6 Yhdistyksen kokous on päätösvaltainen, jos koollekutsuminen on tapahtunut sääntöjen mukaisesti.<br>
10.7 Päätökset tehdään, ellei näissä säännöissä toisin määrätä, yksinkertaisella äänten enemmistöllä. Äänten mennessä tasan ratkaisee kokouksen puheenjohtajan mielipide, vaaleissa kuitenkin arpa.<br>
10.8 Yhdistyksen kokouksessa tehty päätös voidaan purkaa vähintään kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä. Päätöksen purkamisasia on ilmoitettava kokouskutsussa.<br>
10.9 Yhdistyksen kokouksissa on läsnäolo- ja puheoikeus kaikilla yhdistyksen jäsenillä. Kokous voi tarvittaessa myöntää läsnäolo- ja puheoikeuden yhdistykseen kuulumattomalle henkilölle.<br>
10.10 Yhdistyksen kokouksen pöytäkirjan tarkastavat kaksi (2) kokouksessa valittua pöytäkirjantarkastajaa kahden (2) viikon kuluessa kokouksesta. Tarpeen vaatiessa voidaan pöytäkirjan tarkastus suorittaa itse kokouksessa.<br>
10.11 Mikäli yhdistyksen jäsen haluaa saada jonkin asian yhdistyksen kokouksen käsiteltäväksi, on hänen siitä kirjallisesti ilmoitettava hallitukselle niin hyvissä ajoin, että asia voidaan sisällyttää kokouskutsuun.<br></p>

<h3>11. Varsinaiset kokoukset</h3>

<p>11.1 Yhdistyksen vuosikokouksessa käsitellään seuraavat asiat:<br>
1. kokouksen avaus<br>
2. valitaan kokouksen puheenjohtaja, sihteeri, kaksi 
pöytäkirjantarkastajaa ja kaksi ääntenlaskijaa<br>
3. todetaan kokouksen laillisuus ja päätösvaltaisuus<br> 
4. hyväksytään kokouksen työjärjestys<br>
5. esitellään tilinpäätös, vuosikertomus ja tilintarkastajien lausunto<br> 
6. päätetään tilinpäätöksen vahvistamisesta ja tili- ja vastuuvapauden 
myöntämisestä hallitukselle ja muille tili- ja vastuuvelvollisille<br>
7. vahvistetaan alkaneen toimikauden toimintasuunnitelma ja talousarvio 
8. käsitellään muut kokouskutsussa mainitut asiat<br>
11.2 Yhdistyksen vaalikokouksessa käsitellään seuraavat asiat:<br>
1. kokouksen avaus<br>
2. valitaan kokouksen puheenjohtaja, sihteeri, kaksi pöytäkirjantarkastajaa ja kaksi ääntenlaskijaa<br>
3. todetaan kokouksen laillisuus ja päätösvaltaisuus<br>
4. hyväksytään kokouksen työjärjestys<br>
5. valitaan tulevan toimikauden hallituksen puheenjohtaja, 3-6 hallituksen jäsentä ja 1-2 varajäsentä<br>
6. valitaan tulevan toimikauden oltermanni ja muut toimihenkilöt<br>
7. valitaan tulevalle toimikaudelle kaksi (2) tilintarkastajaa ja heille kaksi (2) varahenkilöä<br>
8. päätetään seuraavan toimikauden jäsenmaksun ja ainaisjäsenmaksun suuruudesta<br>
9. esitetään seuraavan toimikauden alustava toimintasuunnitelma ja talousarvio<br>
10. esitetään tilannekatsaus kuluvan toimikauden toimintasuunnitelman ja talousarvion toteutumisesta<br>
11. käsitellään muut kokouskutsussa mainitut asiat</p>

<h3>12. Sääntöjen muuttaminen ja yhdistyksen purkaminen</h3>

<p>12.1 Päätös sääntöjen muuttamisesta ja yhdistyksen purkamisesta on tehtävä yhdistyksen kokouksessa vähintään kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä. Kokouskutsussa on mainittava sääntöjen muuttamisesta tai yhdistyksen purkamisesta. <br>
12.2 Yhdistyksen purkautuessa käytetään yhdistyksen varat yhdistyksen tarkoituksen edistämiseen purkamisesta päättävän kokouksen määrittelemällä tavalla. Yhdistyksen tullessa lakkautetuksi käytetään varat samaan tarkoitukseen.</p>

{% endblock %}
