{% extends "base.html" %}
{% block content %}

<h1>Palvelut</h1>

<p>Modeemi ry järjestää jäsenilleen saunailtoja, ATK:ta sekä limumyyntiä. Kerhohuoneelta löytyy jäsenistön käyttöön telkkari ChromeCastilla, kaiuttimet, vahvistin sekä rauhallinen työskentelytila. Myös kahvinkeitin sekä grillauvälineitä löytyy.</p>

<h2>Virtuaaliavain</h2>

<p>Yhdityksen jäsenillä on mahdollisuus saada virtuaaliavain kerhohuoneelle. Virtuaaliavaina käytetään <b>sesam</b> komennolla joko <b>battery</b>ltä tai <b>coffee</b>lta. Avainta voi käyttää helposti esimerkiksi <a href="https://play.google.com/store/apps/details?id=crosien.HotButton&hl=fi">Hot Button</a>-applikaatiolla.</p>

<h2>Limumyynti</h2>

<p>Kolottaako hammasta, maistuuko kylmä Megaforce tai Dr. Pepper? Nouda kerhohuoneelta tai automaatista omasi, tarjolla juomia edulliseen hintaan.</p>

<p>Tällä hetkellä tarjoamme jäsenistön pyynnöstä seuraavia limuja (varastotilanne voi vaihdella).</p>

<ul>
    {% for soda in sodas %}
    {% if soda.active %}
    <li>{{ soda.name }} ({{soda.price }}e)</li>
    {% endif %}
    {% endfor %}
</ul>

<h2>ATK-palvelut</h2>

<p>Kerhohuoneelta löytyvät langattomat ModeemiG ja ModeemiN verkot. Kysy irkissä #modeemi@IRCnet salasanaa.</p>

<p>Laaja <a href="{% url 'hardware' %}">laitteistovalikoima</a> vaatii <a href="{% url 'application' %}">käyttäjätunnuksen hakemisen</a>. Käyttäjätunnusta varten sinulla pitää olla käyttöoikeus FUNETin verkkoon.</p>

{% endblock %}
