{% extends "base.html" %}
{% block content %}
<h1>Yhdistys</h1>

<p>Modeemi ry on Tampereen teknillisen yliopiston suojissa vuodesta 1977 toimiva ATK-säätäjien oma kerho, joka tarjoaa jäsenilleen erinäisiä <a href="../palvelut/">palveluita</a> sekä järjestää saunailtoja, grillausta ja säätöiltoja.</p>

<h2>Yhteystietoja</h2>

<ul>
    <li><a href="{% url 'board' %}">Hallitus</a></li>
    <li><a href="{% url 'contact' %}">Yhteystiedot</a></li>
    <li><a href="{% url 'rules' %}">Säännöt</a></li>
    <li><a href="{% url 'policy' %}">Rekisteriseloste</a></li>
</ul>

<h2>Jäsenille tai jäseneksi haluaville</h2>
<ul>
    <li><a href="{% url 'jaseneksi' %}">Jäsenhakemus</a></li>
    {# <li><a href="/kulukorvausanomus/">Kulukorvausanomus hallituksen hyväksymille kuluille</a></li> #}
</ul>
{% endblock %}
