{% extends "base.html" %}

{% load markdownify %}

{% block title %}{{ block.super }} uutiset{% endblock title %}
{% block og-title %}{{ block.super }} uutiset{% endblock og-title %}

{% block content %}
<h1>Uutiset</h1>
<p class="news-header-link">
    <a href="{% url 'uutiset.rss' %}"><span class="fa fa-rss-square"></span>&nbsp;&nbsp;Lataa .rss feed</a>
    <br />
    <a href="{% url 'uutiset.ics' %}"><span class="fa fa-calendar"></span>&nbsp;&nbsp;Lataa .ics feed (GCal, iCal etc.)</a>
</p>

{% if not news %}
<h2>Uutisia ei löytynyt :( Kannattaa tarkistaa URL.</h2>
{% endif %}

{% for n in news %}
<div>
    <hr />
    <h2><a href="{% url 'uutiset' pk=n.id %}">{{ n.title }}</a></h2>
    <p><i><small>{{ n.poster }} @ <time datetime="{{ n.posted|date:'Y-m-d' }}">{{ n.posted|date:'Y-m-d' }}</time></small></i></p>
    {% if n.starts and n.ends and n.location %}
    <p>
        {% if n.starts %}
        <small><b>Alkaa</b>: {{ n.starts|date:"Y-m-d" }} {{ n.starts|time:"G:i" }}</small>
        {% endif %}
        {% if n.ends %}
        <br />
        <small><b>Loppuu</b>: {{ n.ends|date:"Y-m-d" }} {{ n.ends|time:"G:i" }}</small>
        {% endif %}
        {% if n.location %}
        <br />
        <small><b>Paikka</b>: <a href="https://www.google.com/maps/search/{% if n.location %}{{ n.location.split|join:'+' }}{% endif %}{% if n.lat and n.lon %}/@{{ n.lat|safe }},{{ n.lon|safe }}{% endif %}">{{ n.location }}</a></small>
        {% endif %}
    </p>
    {% endif %}

    {{ n.text|markdownify }}
</div>
{% endfor %}
{% endblock %}
