{% extends "base.html" %}
{% block content %}
<h2>Uutiset</h2>

{% if not news %}
<h3>Uutisia ei löytynyt :(</h3>
{% endif %}

{% for n in news %}
<hr />
<p itemscope itemtype="http://schema.org/Article">
<span class="news-header" itemprop="headline"><a href="{% url 'views.uutiset' pk=n.id %}">{{ n.title }}</a></span>
<span class="news-timestamp pull-right">
    <small itemprop="author"><time itemprop="datePublished" datetime="{{ n.posted|date:"Y-m-d"}}">{{ n.posted }}</time> ({{ n.poster.username }})</small>
</span>
</p>

<p class="news" itemprop="articleBody">{{ n.text|urlize|linebreaks }}</p>

{% endfor %}
{% endblock %}
