{% extends "base.html" %}
{% block content %}

<h1>Halutaan</h1>

<p>Kämppä täyttynyt toimivasta ATK:sta? Tarjoa <a href="mailto:hallitus@modeemi.fi">sähköpostilla</a>.</p>

<p>Modeemin laitteisto on pääosin lahjoituksina saatua. Erikoisempi (vanha) sekä toimiva (uudempi) rauta on aina kaivattua.</p>

<p>Mikäli edustat yritystä ja haluat sponsoriksi modernilla rautalahjoituksella, <a href="mailto:hallitus@modeemi.fi">ota yhteyttä sähköpostitse</a>. Erityisesti mediakäyttöön soveltuva ATK olisi mieluisaa jäsenistökäyttöön tarjottavaksi. Keskustelemme mielellämme fyysisestä mainospaikasta kerhotilassa, verkkosivuille mainosta emme voi julkaista palveluehtojen vuoksi.</p>

<h2>Tällä hetkellä erityisesti kaivataan:</h2>

<ul>
    <li>SATA-levyjä koossa 80G+</li>
    <li>POE-injektoreita tai POE-kytkin</li>
    <li>Mediakäyttöön soveltuva, <a href="http://store.steampowered.com/sale/steam_machines">Steam Machine -tasoinen PC</a>.</li>
</ul>

<strong>Elektroniikkaromun voit toimittaa suoraan lähimpään Kuusakosken vastaanottopisteeseen. Ei mekään sitä haluta.</strong>

{% endblock %}
