{% extends "base.html" %}
{% block content %}

<h1>Halutaan</h1>

<p>Kämppä täyttynyt toimivasta ATK:sta? Tarjoa <a href="mailto:hallitus@modeemi.fi">sähköpostilla</a>.</p>

<p>Modeemin laitteisto on pääosin lahjoituksina saatua. Erikoisempi (vanha) sekä toimiva (uudempi) rauta on aina kaivattua.</p>

<p>Mikäli edustat yritystä ja haluat sponsoriksi modernilla rautalahjoituksella, <a href="mailto:hallitus@modeemi.fi">ota yhteyttä sähköpostitse</a>. Keskustelemme mielellämme fyysisestä mainospaikasta kerhotilassa, verkkosivuille mainosta emme voi julkaista palveluehtojen vuoksi.</p>

<h2>Tällä hetkellä erityisesti kaivataan:</h2>

<ul>
    <li>10G verkkorautaa</li>
    <li>SSD-levyjä koossa 1T+</li>
    <li>HDD SAS/SATA-levyjä koossa 4T+</li>
    <li>POE-injektoreita tai POE-kytkin</li>
</ul>

<strong>Elektroniikkaromun voit toimittaa suoraan lähimpään Kuusakosken vastaanottopisteeseen. Ei mekään sitä haluta.</strong>

{% endblock %}
