{% extends "base.html" %}
{% block content %}
<h2>Yhdistys</h2>

<p>Modeemi ry on Tampereen teknillisen yliopiston suojissa vuodesta 1977 toimiva ATK-säätäjien oma kerho, joka tarjoaa jäsenilleen erinäisiä <a href="../palvelut/">palveluita</a> sekä järjestää saunailtoja, grillausta ja säätöiltoja.</p>

<h3>Yhteystietoja</h3>

<ul>
    <li><a href="{% url 'views.hallitus' %}">Hallitus</a></li>
    <li><a href="{% url 'views.yhteystiedot' %}">Yhteystiedot</a></li>
    <li><a href="{% url 'views.saannot' %}">Säännöt</a></li>
    <li><a href="{% url 'views.rekisteriseloste' %}">Rekisteriseloste</a></li>
</ul>

<h3>Jäsenille tai jäseneksi haluaville</h3>
<ul>
    <li><a href="{% url 'views.jaseneksi' %}">Jäsenhakemus</a></li>
    {# <li><a href="/kulukorvausanomus/">Kulukorvausanomus hallituksen hyväksymille kuluille</a></li> #}
</ul>
{% endblock %}
