{% extends "base.html" %}
{% block content %}
<h2>Yhteystiedot</h2>

<h3>WWW</h3>

<p>http://www.modeemi.fi</p>

<h3>E-mail</h3>

<p>modeemi [ät] modeemi.fi</p>

<h3>IRCNet</h3>

<p>#modeemi</p>

<h3>News</h3>

<p>manse.modeemi</p>

<p>Modeemin kerhohuone on Tietotalossa huoneessa A013 (TiTekillan vieressä).  Voit myös seurata reaaliaikaista kuvaa <a href="http://webcam.modeemi.fi/">kerhohuoneelta</a> tai <a href="http://kovocam.modeemi.fi/">laitehuoneesta</a>.</p>

<h3>Postiosoite:</h3>

<p></p><address>
Modeemi ry c/o TTY<br>
PL 553<br>
FIN-33101 Tampere
</address><p></p>

<h3>Käyntiosoite:</h3>

<p></p><address>
Tietotalo, Huone A013<br>
Korkeakoulunkatu 1<br>
FIN-33720 Tampere<br>
Y-tunnus: 0206026-9
</address><p></p>

<p>Tilinumero: Nordea FI10 2243 1800 0057 39 (BIC: NDEAFIHH)</p>

{% endblock %}
