{% extends "base.html" %}
{% block content %}
<h2>Yhteystiedot</h2>

<h3>WWW</h3>

<p><a href="https://www.modeemi.fi">https://www.modeemi.fi</a></p>

<h3>E-mail</h3>

<p><a href="mailto:modeemi@modeemi.fi">modeemi@modeemi.fi</a></p>

<h3>IRC</h3>

<p>#modeemi@IRCnet</p>

<h3>Käyntiosoite</h3>

<p>Modeemin kerhohuone on Tietotalon pohjakerroksessa TiTekillan vieressä Sähkötaloa vastapäätä.</p>
<p><b>HUOM</b> käytäthän alempana olevaa PL-postiosoitetta kirjepostin kera.</p>

<address>
<pre>
Tietotalo, huone TA013
Korkeakoulunkatu 1
FIN-33720 Tampere
</pre>
</address>

<p>Voit myös seurata reaaliaikaista kuvaa <a href="http://webcam.modeemi.fi/">kerhohuoneelta</a> tai <a href="http://kovocam.modeemi.fi/">laitehuoneesta</a>.</p>

<h3>Postiosoite</h3>

<address>
<pre>
Modeemi ry c/o TTY
PL 553
FIN-33101 Tampere
</pre>
</address>

<h3>Tilinumero, yritystunnus</h3>

<address>
<pre>
IBAN:     FI10 2243 1800 0057 39
BIC:      NDEAFIHH
Y-tunnus: 0206026-9
</pre>
</address>

{% endblock %}
