body {
    background-color: #DDDDDD;
}

nav.navbar {
    border-radius: 0px;
}

/* The main header for the whole page with image background */
div.header {
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('/static/image/header.png');
}

div.header h1 {
    color: #cccccc;
    font-size: 4em;
    margin: 0.5em;
}

div.header a:hover {
    text-decoration: none;
}

@media(min-width: 768px) {
    body > div.container-fluid {
        margin: 1em;
    }
}




