{% extends "base.html" %}

{% block content %}
    <h1>Käyttäjärekisteri</h1>

    <p>Rekisterissä näkyvät vain aktiiviseksi merkityt käyttäjät. Jäseniä on yhteensä {{ memberships.count }} henkilön verran.</p>

    {% if perms.modeemintternet.change_membership %}
        <p>Voit päivittää jäsenmaksutietoja <a href="{% url 'kayttajarekisteri_jasenmaksu' %}">täältä</a>.</p>
    {% endif %}

    <table id="registry" class="table table-bordered table-condensed table-responsive">
        <thead>
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Sähköpostiosoite</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Kotikunta</th>
            <th>Jäsenmaksu (viimeisin)</th>
            <th>Avaimet</th>
            {% if perms.modeemintternet.change_membership %}
                <th>Päivitä</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td>{{ membership.user.username }}</td>
                <td>{{ membership.user.email }}</td>
                <td>{{ membership.user.first_name }}</td>
                <td>{{ membership.user.last_name }}</td>
                <td>{{ membership.city }}</td>
                <td>{{ membership.get_fee }}</td>
                <td>{{ membership.get_keys }}</td>
                {% if perms.modeemintternet.change_membership %}
                    <td><a href="{% url 'kayttajarekisteri_paivita' membership.user.username %}"><span class="fa fa-cogs"></span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#registry').DataTable({
                pageLength: 420,
                lengthMenu: [[100, 200, 420, -1], [100, 200, 420, "All"]]
            });
        });
    </script>
{% endblock script %}
