{% extends "base.html" %}

{% block content %}
    <h1>Käyttäjätietojen päivitys</h1>

    <p>
        Itsepalveluna on mahdollista päivittää nimi, sähköpostiosoite ja kotipaikka.
        Mikäli haluat päivittää muita tietojasi, tai huomaat virheen, voit
        pyytää tietojen lähettämällä sähköpostia osoitteeseen
        <a href="mailto:hallitus@modeemi.fi">hallitus@modeemi.fi</a>.
    </p>

    {% if form.errors %}
        <p>Korjaa lomakkeen tiedot.</p>
    {% endif %}

    <form method="post" action="{% url 'kayttajatiedot_paivita' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="first_name">Etunimi</label>
            <input name="first_name" type="text" class="form-control" required id="first_name" value="{{ user.first_name }}" />
        </div>
        <div class="form-group">
            <label for="last_name">Sukunimi</label>
            <input name="last_name" type="text" class="form-control" required id="last_name" value="{{ user.last_name }}" />
        </div>
        <div class="form-group">
            <label for="email">Sähköpostiosoite</label>
            <input name="email" type="email" class="form-control" required id="email" value="{{ user.email }}" />
        </div>
        <div class="form-group">
            <label for="municipality">Kotipaikka</label>
            <input name="municipality" type="text" class="form-control" id="municipality" value="{{ user.membership.municipality }}" />
        </div>

        <input type="submit" class="btn btn-primary" value="Päivitä">
    </form>
{% endblock %}
