{% extends "base.html" %}

{% block content %}
    <h1>Käyttäjärekisteri</h1>

    <p>Rekisterissä näkyvät vain aktiiviseksi merkityt käyttäjät.</p>

    <table class="table table-bordered table-condensed">
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Sähköpostiosoite</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Kotikunta</th>
            <th>Jäsenmaksu</th>
            <th>Avaimet</th>
        </tr>
        <tr>
            {% for membership in memberships %}
                <td>{{ membership.user.username }}</td>
                <td>{{ membership.user.email }}</td>
                <td>{{ membership.user.first_name }}</td>
                <td>{{ membership.user.last_name }}</td>
                <td>{{ membership.city }}</td>
                <td>{{ membership.get_fee }}</td>
                <td>{{ membership.get_keys }}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
