{% extends "base.html" %}

{% block content %}
    <h1>Käyttäjätiedot</h1>

    <table class="table">
        <tr>
            <th>Käyttäjätunnus</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Sähköpostiosoite</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Etunimi</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>Sukunimi</th>
            <td>{{ user.last_name }}</td>
        </tr>
    </table>
{% endblock %}
